<script type="text/ng-template" id="atmDetailModalCotent.html">
    <div class="modal-header">
        <h3 class="modal-title" id="modal-title">ATM 匯款資料</h3>
    </div>
    <div class="modal-body" id="modal-body">
        <div class="row">
            <div class="col-lg-12 col-sm-12 col-xs-12">
                <div class="contact-block">
                    <div class="row">
                        <div class="col-md-12">                            
                            <table style="width:100%" id="order-modal-table">
                                <tr>
                                    <th>銀行代碼</th>
                                    <th>銀行帳號</th>
                                    <th>最後匯款日期</th>
                                </tr>
                                <tr >
                                    <td >{{message.pay_atm_bank}}</td>
                                    <td>{{message.pay_atm_account}}</td>
                                    <td>{{message.pay_atm_expire_date}}</td>

                                </tr>
        
                            </table>
                            <p class="error-message text-align">{{errorMsg}}</p>
                            <p class="success-message text-align">{{successMsg}}</p>
                        </div>
                    </div>            
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-warning" type="button" ng-click="cancel()">關閉</button>
    </div>
</script>