<script type="text/ng-template" id="cartModalCotent.html">
    <div class="modal-header">
        <h3 class="modal-title" id="modal-title">購物車</h3>
    </div>
    <div class="modal-body" id="modal-body">
        <div class="row">
            <div class="col-lg-12 col-sm-12 col-xs-12">
                <div class="contact-block">
                    <div class="row">
                        <div class="col-md-12">                            
                            <h3 class="center-align">目前商品</h3>
                                <div class="col-12 product-cart-list"  >
                                    <div class="row" ng-repeat="data in cartTableData">
                                        <div class="col-lg-2 center-align">
                                            <img ng-src="{{data.img}}" class="cart-img" alt="Image">
                                        </div>
                                        <div class="col-lg-3 center-align">
                                            <p class="center-align">{{data.name}}<p>
                                        </div>
                                        <div class="col-lg-2 ">
                                            <p class="center-align">售價：{{data.price}}元<p>
                                        </div>
                                        <div class="col-lg-2 center-align">
                                            <p>數量：<input type="number" class="amount-input" min="0" ng-model="data.amount" ></p>
                                        </div>
                                        <div class="col-lg-2 center-align">
                                            <p><a ng-click="updateCount(data)" class="cd-add-to-cart">更新數量</a></p>
                                        </div>
                                        <div class="col-lg-1 center-align">
                                            <p><a ng-click="delete(data)" href="javascript:void(0)" class="cart-delete"><i class="fas fa-trash-alt"></i></a></p>
                                        </div>
                                    </div>
                                </div>            
                            <p class="error-message text-align">{{errorMsg}}</p>
                            <p class="success-message text-align">{{successMsg}}</p>
                        </div>
                    </div>            
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <p class="cart-price">總共：{{totalPrice}} 元</p>
        <button class="btn btn-primary" type="button" ng-click="order()">下單</button>
        <button class="btn btn-warning" type="button" ng-click="cancel()">關閉</button>
    </div>
    <style>
    

    </style>

</script>