<script type="text/ng-template" id="editMediaModalCotent.html">
<div class="modal-header">
    <h3 class="modal-title" id="modal-title">媒體報導資訊</h3>
</div>
<div class="modal-body" id="modal-body">
    <div class="">
        <div class="col-lg-12">
            <div class="row">
                <div class="col-lg-12 edit-product-img center-align">
                    <img ng-src="{{message.img1}}" class="uploaded-product-img" alt="product">
                </div>
            </div>
        </div>
        <div class="col-lg-12">
            <div class="row">
                <div class="col-lg-12 edit-product-img center-align">
                    <input type="file" ng-file-select="onFileSelect($files)" value="開啟檔案"  ng-model="imageSrc">
                </div>    
            </div>
        </div>

        <div class="col-lg-12">
            <div class="row">
                <div class="col-lg-12 edit-product-img center-align">
                    <img  class="uploaded-product-img" ng-show="imageSrc!=null" alt="照片1" ng-src="{{imageSrc}}" />
                </div>
                
            </div>
        </div>
        <div class="col-lg-12">
            <div class="row">
                <div class="col-lg-3 edit-product-img center-align">
                    照片2
                    <a href="javascript:void(0);" class="red" ng-show="message.img2!=null" ng-click="message.img2=null"><i class="fas fa-trash"></i></a>				
                    <img ng-src="{{message.img2}}" ng-show="message.img2!=null" class="sub-product-img" alt="照片2"><br>
                    <input type="file" ng-file-select="onFileSelect($files)" value="開啟檔案"  ng-model="imageSrc2">
                    <img  class="sub-product-img" ng-show="imageSrc2!=null" alt="新照片2" ng-src="{{imageSrc2}}" />
                </div>
                <div class="col-lg-3 edit-product-img center-align">
                    照片3
                    <a href="javascript:void(0);" class="red" ng-show="message.img3!=null" ng-click="message.img3=null"><i class="fas fa-trash"></i></a>				
                    <img ng-src="{{message.img3}}" ng-show="message.img3!=null" class="sub-product-img" alt="照片3"><br>
                    <input type="file" ng-file-select="onFileSelect($files)" value="開啟檔案"  ng-model="imageSrc3">
                    <img  class="sub-product-img" ng-show="imageSrc3!=null" alt="新照片3" ng-src="{{imageSrc3}}" />
                </div>
                <div class="col-lg-3 edit-product-img center-align">
                    照片4
                    <a href="javascript:void(0);" class="red" ng-show="message.img4!=null" ng-click="message.img4=null"><i class="fas fa-trash"></i></a>				
                    <img ng-src="{{message.img4}}" ng-show="message.img4!=null" class="sub-product-img" alt="照片4"><br>
                    <input type="file" ng-file-select="onFileSelect($files)" value="開啟檔案"  ng-model="imageSrc4">
                    <img  class="sub-product-img" ng-show="imageSrc4!=null" alt="新照片4" ng-src="{{imageSrc4}}" />
                </div>
                <div class="col-lg-3 edit-product-img center-align">
                    照片5
                    <a href="javascript:void(0);" class="red" ng-show="message.img5!=null" ng-click="message.img5=null"><i class="fas fa-trash"></i></a>				
                    <img ng-src="{{message.img5}}" ng-show="message.img5!=null" class="sub-product-img" alt="照片5"><br>
                    <input type="file" ng-file-select="onFileSelect($files)" value="開啟檔案"  ng-model="imageSrc5">
                    <img  class="sub-product-img" ng-show="imageSrc5!=null" alt="新照片5" ng-src="{{imageSrc5}}" />
                </div>
                <div class="col-lg-3 edit-product-img center-align">
                    照片6
                    <a href="javascript:void(0);" class="red" ng-show="message.img6!=null" ng-click="message.img6=null"><i class="fas fa-trash"></i></a>				
                    <img ng-src="{{message.img6}}" ng-show="message.img6!=null" class="sub-product-img" alt="照片6"><br>
                    <input type="file" ng-file-select="onFileSelect($files)" value="開啟檔案"  ng-model="imageSrc6">
                    <img  class="sub-product-img" ng-show="imageSrc6!=null" alt="新照片6" ng-src="{{imageSrc6}}" />
                </div>
                <div class="col-lg-3 edit-product-img center-align">
                    照片7
                    <a href="javascript:void(0);" class="red" ng-show="message.img7!=null" ng-click="message.img7=null"><i class="fas fa-trash"></i></a>				
                    <img ng-src="{{message.img7}}" ng-show="message.img7!=null" class="sub-product-img" alt="照片7"><br>
                    <input type="file" ng-file-select="onFileSelect($files)" value="開啟檔案"  ng-model="imageSrc7">
                    <img  class="sub-product-img" ng-show="imageSrc7!=null" alt="新照片7" ng-src="{{imageSrc7}}" />
                </div>
                <div class="col-lg-3 edit-product-img center-align">
                    照片8
                    <a href="javascript:void(0);" class="red" ng-show="message.img8!=null" ng-click="message.img8=null"><i class="fas fa-trash"></i></a>				
                    <img ng-src="{{message.img8}}" ng-show="message.img8!=null" class="sub-product-img" alt="照片8"><br>
                    <input type="file" ng-file-select="onFileSelect($files)" value="開啟檔案"  ng-model="imageSrc8">
                    <img  class="sub-product-img" ng-show="imageSrc8!=null" alt="新照片8" ng-src="{{imageSrc8}}" />
                </div>
                <div class="col-lg-3 edit-product-img center-align">
                    照片9
                    <a href="javascript:void(0);" class="red" ng-show="message.img9!=null" ng-click="message.img9=null"><i class="fas fa-trash"></i></a>				
                    <img ng-src="{{message.img9}}" ng-show="message.img9!=null" class="sub-product-img" alt="照片9"><br>
                    <input type="file" ng-file-select="onFileSelect($files)" value="開啟檔案"  ng-model="imageSrc9">
                    <img  class="sub-product-img" ng-show="imageSrc9!=null" alt="新照片9" ng-src="{{imageSrc9}}" />
                </div>
                <div class="col-lg-3 edit-product-img center-align">
                    照片10
                    <a href="javascript:void(0);" class="red" ng-show="message.img10!=null" ng-click="message.img10=null"><i class="fas fa-trash"></i></a>				
                    <img ng-src="{{message.img10}}" ng-show="message.img10!=null" class="sub-product-img" alt="照片10"><br>
                    <input type="file" ng-file-select="onFileSelect($files)" value="開啟檔案"  ng-model="imageSrc10">
                    <img  class="sub-product-img" ng-show="imageSrc10!=null" alt="新照片10" ng-src="{{imageSrc10}}" />
                </div>
                <div class="col-lg-3 edit-product-img center-align">
                    照片11
                    <a href="javascript:void(0);" class="red" ng-show="message.img11!=null" ng-click="message.img11=null"><i class="fas fa-trash"></i></a>				
                    <img ng-src="{{message.img11}}" ng-show="message.img11!=null" class="sub-product-img" alt="照片11"><br>
                    <input type="file" ng-file-select="onFileSelect($files)" value="開啟檔案"  ng-model="imageSrc11">
                    <img  class="sub-product-img" ng-show="imageSrc11!=null" alt="新照片11" ng-src="{{imageSrc11}}" />
                </div>
                <div class="col-lg-3 edit-product-img center-align">
                    照片12
                    <a href="javascript:void(0);" class="red" ng-show="message.img12!=null" ng-click="message.img12=null"><i class="fas fa-trash"></i></a>				
                    <img ng-src="{{message.img12}}" ng-show="message.img12!=null" class="sub-product-img" alt="照片12"><br>
                    <input type="file" ng-file-select="onFileSelect($files)" value="開啟檔案"  ng-model="imageSrc12">
                    <img  class="sub-product-img" ng-show="imageSrc12!=null" alt="新照片12" ng-src="{{imageSrc12}}" />
                </div>
                <div class="col-lg-3 edit-product-img center-align">
                    照片13
                    <a href="javascript:void(0);" class="red" ng-show="message.img13!=null" ng-click="message.img13=null"><i class="fas fa-trash"></i></a>				
                    <img ng-src="{{message.img13}}" ng-show="message.img13!=null"  class="sub-product-img" alt="照片13"><br>
                    <input type="file" ng-file-select="onFileSelect($files)" value="開啟檔案"  ng-model="imageSrc13">
                    <img  class="sub-product-img" ng-show="imageSrc13!=null" alt="新照片13" ng-src="{{imageSrc13}}" />
                </div>
                <div class="col-lg-3 edit-product-img center-align">
                    照片14
                    <a href="javascript:void(0);" class="red" ng-show="message.img14!=null" ng-click="message.img14=null"><i class="fas fa-trash"></i></a>				
                    <img ng-src="{{message.img12}}" ng-show="message.img14!=null" class="sub-product-img" alt="照片14"><br>
                    <input type="file" ng-file-select="onFileSelect($files)" value="開啟檔案"  ng-model="imageSrc14">
                    <img  class="sub-product-img" ng-show="imageSrc14!=null" alt="新照片14" ng-src="{{imageSrc14}}" />
                </div>
                <div class="col-lg-3 edit-product-img center-align">
                    照片15
                    <a href="javascript:void(0);" class="red" ng-show="message.img15!=null" ng-click="message.img15=null"><i class="fas fa-trash"></i></a>				
                    <img ng-src="{{message.img13}}" ng-show="message.img15!=null" class="sub-product-img" alt="照片15"><br>
                    <input type="file" ng-file-select="onFileSelect($files)" value="開啟檔案"  ng-model="imageSrc15">
                    <img  class="sub-product-img" ng-show="imageSrc15!=null" alt="新照片15" ng-src="{{imageSrc15}}" />
                </div>
            </div>
        </div>

        
        <div class="row product-detail">
            <div class="col-lg-12">

                <div class="col-lg-4 ">
                    <h3>標題：</h3> <input type="text" ng-model="message.title">
                </div>
                <div class="col-lg-4 ">
                    <h3>副標題</h3> <input type="text" ng-model="message.subtitle">
                </div>
                <div class="col-lg-4 ">
                    <h3>兩張圖並排</h3> <label class="switch">
                        <input type="checkbox"  ng-model="message.showVal"
                            ng-checked="message.show2">
                        <span class="slider round"></span>
                    </label>
                </div>
              
            </div>
        </div>
      
        <div class="col-lg-12">
            <div class="row">
                <div class="col-lg-12 edit-product-detail">
                    <h3><i class="fa fa-newspaper-o"></i> 報導內容:</h3>
                    <textarea class="textarea-lg" ng-model="message.description"></textarea>
                </div>
            </div>
        </div>
      
       
        <div class="col-lg-12">
            <p class="error-message center-align">{{errorMsg}}</p>
            <p class="success-message center-align">{{successMsg}}</p>
            <p style="color:red">*注意：總共上傳照片如超過8Mb會失敗，請先上傳一部份再由編輯中逐步增加</p>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="updateMedia(message)">更新</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">關閉</button>
</div>
</script>