<script type="text/ng-template" id="editProductModalCotent.html">
<div class="modal-header">
    <h3 class="modal-title" id="modal-title">商品資訊</h3>
</div>
<div class="modal-body" id="modal-body">
    <div class="">
        <div class="col-lg-12">
            <div class="row">
                <div class="col-lg-12 edit-product-img center-align">
                    <img ng-src="{{message.img}}" class="uploaded-product-img" alt="product">
                       
                </div>
                
            </div>
        </div>
        <div class="col-lg-12">
            <div class="row">
                <div class="col-lg-12 edit-product-img center-align">
                    <input type="file" ng-file-select="onFileSelect($files)" value="開啟檔案"  ng-model="imageSrc">
                </div>
                
            </div>
        </div>

        <div class="col-lg-12">
            <div class="row">
                <div class="col-lg-12 edit-product-img center-align">
                    <img  class="uploaded-product-img" ng-show="imageSrc!=null" ng-src="{{imageSrc}}" />
                </div>
                
            </div>
        </div>

        
        <div class="row product-detail">
            <div class="col-lg-12">

                <div class="col-lg-3 ">
                    <h3>商品名稱：</h3> <input type="text" ng-model="message.name">
                </div>
                <div class="col-lg-3 product-detail">
                    <h3>類型：</h3><input type="text" ng-model="message.type">
                </div>
                <div class="col-lg-3 product-detail">
                    <h3>定價：</h3><input type="text" ng-model="message.price">
                </div>
                <div class="col-lg-3 product-detail">
                    <h3>特價：</h3><input type="text" ng-model="message.d_price">
                </div>
                <div class="col-lg-3 product-detail">
                    <h3>單位：</h3><input type="text" ng-model="message.unit">
                </div>
            </div>
        </div>
      
        <div class="col-lg-12">
            <div class="row">
                <div class="col-lg-12 edit-product-detail">
                    <h3><img src="icons/meat.svg" alt="meat">商品介紹:</h3>
                    <textarea class="textarea-lg" ng-model="message.description"></textarea>
                </div>
            </div>
        </div>
        <div class="col-lg-12">
            <div class="row">
                <div class="col-lg-12 edit-product-detail">
                    <h3><img src="icons/cooking.svg" alt="cook">料理方法:</h3><textarea class="textarea-lg"
                        ng-model="message.cook"></textarea>
                </div>
            </div>
        </div>
        <div class="col-lg-12">
            <div class="row">
                <div class="col-lg-12 edit-product-detail">
                    <h3><img src="icons/delivery.svg" alt="delivery">運送方式:</h3><textarea class="textarea-sm"
                        ng-model="message.delivery"></textarea>
                </div>
            </div>
        </div>
        <div class="col-lg-12">
            <p class="error-message center-align">{{errorMsg}}</p>
            <p class="success-message center-align">{{successMsg}}</p>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="updateProduct(message)">更新</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">關閉</button>
</div>
</script>