<script type="text/ng-template" id="editNewsModalCotent.html">
<div class="modal-header">
    <h3 class="modal-title" id="modal-title">編輯消息</h3>
</div>
<div class="modal-body" id="modal-body">
    <div class="">
        <div class="col-lg-12">
            <div class="row">
                <div class="col-lg-4  form-group">
                    <label for="title">標題</label>
                    <input type="text" id="birthday" placeholder="標題" class="form-control" name="title"
                        ng-model="message.title">
                </div>
                <div class="col-lg-4  form-group">
                    <label for="date">日期</label>
                    <input type="date" id="birthday" placeholder="時間" class="form-control" name="date"
                        ng-model="message.newDate" max="2099-12-31">
                </div>
                <div class="col-lg-4  form-group">
                    <label for="link">連結</label>
                    <input type="text" id="birthday" placeholder="連結" class="form-control" name="link"
                        ng-model="message.link" >
                </div>
              
            </div>
            <div class="row">

                <div class="col-lg-12 col-md-6" id="news-message">
                    <textarea ng-model="message.message" placeholder="訊息內容"></textarea>
                </div>
            </div>
        </div>
      
    
     
        <div class="col-lg-12">
            <p class="error-message center-align">{{errorMsg}}</p>
            <p class="success-message center-align">{{successMsg}}</p>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="updateNews(message)">更新</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">關閉</button>
</div>
</script>