<script type="text/ng-template" id="editRecipeModalCotent.html">
<div class="modal-header">
    <h3 class="modal-title" id="modal-title">食譜資訊</h3>
</div>
<div class="modal-body" id="modal-body">
    <div class="">
        <div class="col-lg-12">
            <div class="row">
                <div class="col-lg-12 edit-product-img center-align">
                    <img ng-src="{{message.img}}" class="uploaded-product-img" alt="product">          
                </div>            
            </div>
        </div>
        <div class="col-lg-12">
            <div class="row">
                <div class="col-lg-12 edit-product-img center-align">
                    <input type="file" ng-file-select="onFileSelect($files)" value="開啟檔案"  ng-model="imageSrc">
                </div>
            </div>
        </div>

        <div class="col-lg-12">
            <div class="row">
                <div class="col-lg-12 edit-product-img center-align">
                    <img  class="uploaded-product-img" ng-show="imageSrc!=null" ng-src="{{imageSrc}}" />
                </div>
                
            </div>
        </div>

        
        <div class="row product-detail">
            <div class="col-lg-12">

                <div class="col-lg-4 ">
                    <h3>食譜名稱：</h3> <input type="text" ng-model="message.name">
                </div>
                <div class="col-lg-6 ">
                    <h3>影片連結</h3> <input type="text" ng-model="message.link">
                </div>
              
            </div>
        </div>
      
        <div class="col-lg-12">
            <div class="row">
                <div class="col-lg-12 edit-product-detail">
                    <h3><img src="icons/cooking.svg" alt="meat">料理方法:</h3>
                    <textarea class="textarea-lg" ng-model="message.description"></textarea>
                </div>
            </div>
        </div>
      
       
        <div class="col-lg-12">
            <p class="error-message center-align">{{errorMsg}}</p>
            <p class="success-message center-align">{{successMsg}}</p>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="updateRecipe(message)">更新</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">關閉</button>
</div>
</script>