<script type="text/ng-template" id="forgetPasswordModalCotent.html">
    <div class="modal-header">
        <h3 class="modal-title" id="modal-title">忘記密碼</h3>
    </div>
    <div class="modal-body" id="modal-body">
        <div class="row">
            <div class="col-lg-12 col-sm-12 col-xs-12">
                <div class="contact-block">
                    <div class="row">
                        <div class="col-md-12">                            
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="email">電子信箱<span class="required-star">*</span>:</label>
                                    <input type="text" placeholder="電子信箱" id="email" class="form-control" name="email" ng-model="email">
                                    <div class="help-block with-errors"></div>
                                </div> 
                            </div>
                            <p class="error-message text-align">{{errorMsg}}</p>
                            <p class="success-message text-align">{{successMsg}}</p>
                        </div>
                    </div>            
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="reset()">取得新密碼</button>
        <button class="btn btn-warning" type="button" ng-click="cancel()">關閉</button>
    </div>
</script>