<script type="text/ng-template" id="infoModalCotent.html">
    <div class="modal-header">
        <h3 class="modal-title" id="modal-title">{{title}}</h3>
    </div>
    <div class="modal-body" id="modal-body">
        <div class="row">
            <div class="col-lg-12 col-sm-12 col-xs-12">
                <div class="row">
                    <div class="col-md-12">                            
                       <pre>{{message}}</pre>
                    </div>
                </div>    
               
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-warning" type="button" ng-click="cancel()">關閉</button>
    </div>
</script>