<script type="text/ng-template" id="modalCotent.html">
    <div class="modal-header">
        <h3 class="modal-title" id="modal-title">報導資料</h3>
    </div>
    <div class="modal-body" id="modal-body">
        <div id="media-slides" class="cover-slides">
            <ul class="slides-container text-center">
                <li class="text-center"  ng-repeat="photo in items">
                    <img ng-src="{{photo}}" alt="media" class="media-slides-img" >
                </li>
            </ul>
            <div class="slides-navigation">
                <a href="#" class="next"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
                <a href="#" class="prev"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-warning" type="button" ng-click="cancel()">關閉</button>
    </div>
</script>