<script type="text/ng-template" id="orderDetailModalCotent.html">
    <div class="modal-header">
        <h3 class="modal-title" id="modal-title">訂單明細</h3>
    </div>
    <div class="modal-body" id="modal-body">
        <div class="row">
            <div class="col-lg-12 col-sm-12 col-xs-12">
                <div class="contact-block">
                    <div class="row">
                        <div class="col-md-12">                            
                            <table style="width:100%" id="order-modal-table">
                                <tr>
                                    <th>訂購人</th>
                                    <th>商品名稱</th>
                                    <th>數量</th>
                                    <th>訂單號碼</th>
                                    <th>下訂日期</th>
                                </tr>
                                <tr ng-repeat="data in orderListTableData">
                                    <td >{{data.username}}</td>
                                    <td>{{data.name}}</td>
                                    <td>{{data.product_amout}}</td>
                                    <td>{{data.order_id}}</td>
                                    <td>{{data.date}}</td>
                                </tr>
        
                            </table>
                            
                            
                            <p class="error-message text-align">{{errorMsg}}</p>
                            <p class="success-message text-align">{{successMsg}}</p>
                        </div>
                    </div>            
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-warning" type="button" ng-click="cancel()">關閉</button>
    </div>
</script>