<script type="text/ng-template" id="productModalCotent.html">
    <div class="modal-header">
        <h3 class="modal-title" id="modal-title">商品資訊</h3>
    </div>
    <div class="modal-body" id="modal-body">
        <div class="">
            <div class="row">
                <div class="col-lg-12 product-detail" >
                    <h2 class="product-detail-title">《 {{items.name}} 》</h2>
                    <h3><img  src="icons/meat.svg" alt="meat">商品介紹:</h3>
                    <pre>{{items.description}}</pre>
                    <h3><img  src="icons/cooking.svg" alt="cook">料理方法:</h3><pre>{{items.cook}}</pre>
                    <h3><img  src="icons/delivery.svg" alt="delivery">運送方式:</h3><pre>{{items.delivery}}</pre>
                    <h3><img  src="icons/unit.svg" alt="unit">單位:</h3><pre>{{items.unit}}</pre>

                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-warning" type="button" ng-click="cancel()">關閉</button>
    </div>
</script>