<script type="text/ng-template" id="recipeModalCotent.html">
    <div class="modal-header">
        <h3 class="modal-title" id="modal-title">美味食譜
        </h3>
    </div>
    <div class="modal-body" id="modal-body">
        <div class="">
            <div class="row">
                <div class="col-lg-12 recipe-detail" >
                    <h2 class="recipe-detail-title">《 {{items.name}} 》</h2>
                    <h3><img  src="icons/cooking.svg" alt="cook">料理方法:</h3><pre>{{items.description}}</pre>
                </div>
            </div>
            <div class="row" ng-if="items.link!=null && items.link!='' ">
                <div class="col-lg-12 recipe-detail" >
                    <h3><img  src="icons/video.svg" alt="video">影片連結:</h3><a class="recipe-video-link" ng-href="{{items.link}}" target="_blank">點我前往</a>{{items.link}}
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-warning" type="button" ng-click="cancel()">關閉</button>
    </div>
</script>