<script type="text/ng-template" id="registerModalCotent.html">
    <div class="modal-header">
        <h3 class="modal-title" id="modal-title">會員註冊</h3>
    </div>
    <div class="modal-body" id="modal-body">
        <div class="row">
            <div class="col-lg-12 col-sm-12 col-xs-12">
                <div class="contact-block">
                    <div class="row">
                        <div class="col-md-12">
                            <h3>會員資料</h3>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="name">姓名<span class="required-star">*</span>:</label>
                                    <input type="text" class="form-control" id="name" name="name" placeholder="姓名" ng-model="registerName"  ng-keypress="registerKey($event)">
                                    <div class="help-block with-errors"></div>
                                </div>                                 
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="email">電子信箱<span class="required-star">*</span>:</label>
                                    <input type="text" placeholder="電子信箱" id="email" class="form-control" name="email" ng-model="registerEmail"  ng-keypress="registerKey($event)">
                                    <div class="help-block with-errors"></div>
                                </div> 
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="phone">電話號碼<span class="required-star">*</span>:</label>
                                    <input type="text" placeholder="電話號碼" id="phone" class="form-control" name="phone" ng-model="registerPhone"  ng-keypress="registerKey($event)">
                                    <div class="help-block with-errors"></div>
                                </div> 
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="birthday">出生日期<span class="required-star">*</span>:</label>
                                    <input type="date" id="birthday" placeholder="出生日期" class="form-control"  name="birthday" ng-model="registerBirthday" max="2099-12-31"  ng-keypress="registerKey($event)" >
                                    <div class="help-block with-errors"></div>
                                </div> 
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="password">密碼<span class="required-star">*</span>:</label>
                                    <input type="password" placeholder="密碼" id="password" class="form-control" name="password" ng-model="registerPassword"  ng-keypress="registerKey($event)">
                                    <div class="help-block with-errors"></div>
                                </div> 
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="password-confirm">確認密碼<span class="required-star">*</span>:</label>
                                    <input type="password" placeholder="確認密碼" id="password-confirm" class="form-control" name="password-confirm" ng-model="registerPasswordConfirm"  ng-keypress="registerKey($event)">
                                    <div class="help-block with-errors"></div>
                                </div> 
                            </div>
                            <p class="error-message text-align">{{errorMsg}}</p>
                            <p class="success-message text-align">{{successMsg}}</p>
                        </div>
                    </div>            
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="register()">註冊</button>
        <button class="btn btn-warning" type="button" ng-click="cancel()">關閉</button>
    </div>
</script>