<script type="text/ng-template" id="signinModalCotent.html">
    <div class="modal-header">
        <h3 class="modal-title" id="modal-title">會員登入</h3>
    </div>
    <div class="modal-body" id="modal-body">
        <div class="row" id="signinBlock">
            <div class="col-lg-12 col-sm-12 col-xs-12">
                <div class="contact-block">
                    <div class="row">
                        <div class="col-md-12">                            
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="email">電子信箱<span class="required-star">*</span>:</label>
                                    <input type="text" placeholder="電子信箱" id="email" class="form-control" name="email" ng-model="email"  ng-keypress="signinKey($event)">
                                    <div class="help-block with-errors"></div>
                                </div> 
                            </div>
                           
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="password">密碼<span class="required-star">*</span>:</label>
                                    <input type="password" placeholder="密碼" id="password" class="form-control" name="password" ng-model="password" ng-keypress="signinKey($event)">
                                    <div class="help-block with-errors"></div>
                                </div> 
                            </div>
                            <br>
                            <div class="col-md-12 mt-5">
                                <h3 class="center-align">----------還不是會員--------</h3>
                                <div class="form-group center-align">
                                    <button class="btn btn-secondary" type="button" ng-click="toRegister()">註冊</button>
                                </div> 
                            </div>
                            <div class="col-md-12">
                                <div class="col-md-12 mt-5 center-align">
                                    <a href="javascript:void(0);" ng-click="forgetPassword()" >忘記密碼</a>
                                </div>
                            </div>
                            
                            
                            <p class="error-message text-align">{{errorMsg}}</p>
                            <p class="success-message text-align">{{successMsg}}</p>
                        </div>
                    </div>            
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="signin()">登入</button>
        <button class="btn btn-warning" type="button" ng-click="cancel()">關閉</button>
    </div>
</script>