.navbar-nav .nav-link{
    padding-top:10px;
    padding-bottom:10px;
}
.header-logo{
    height:100%;
}

.navbar-brand {
    display: inline-block;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}
.required-star{
    color:red;
}
.error-message{
    color:red;
    font-size:20px;
    text-align: center;
}
.success-message{
    color:rgb(60, 161, 102);
    font-size:20px;
    text-align: center;
}
.sh-menu i{
    margin-right:5px;
    color:#e4836b;
}
.center-align{
    text-align:center;
}
/** ADD YOUR AWESOME CODES HERE **/

.cd-add-to-cart {
    cursor: pointer;
    background: #b65036;
    color: white !important;
    display: inline-block;
    border-radius: 50em;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: .1em;
    font-size: 0.83333em;
    font-size: var(--text-sm);
    transition: all .2s;
    padding: 5px 7px 4px 7px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}
.cd-add-to-cart:hover {
    background: #b26d5b;
}

.cd-add-to-cart:active {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9)
}
.amount-input{
    width:50px;
}
.cart-img{
    height:80px;
    margin:5px;
}

.product-cart-list p{
    margin-top:20px;
}
.cart-price{
    margin-right:30px !important;
    font-size:20px;
    font-weight:600;
}
.ecpay-anchor img{
    width:180px;
}
@media (max-width: 767px) {
    .product-cart-list p{
        margin-top:0px;
    }
}

.cart-delete{
    font-size:22px;
}

.order-summary p{
    font-size:20px;
    font-weight: 700;
   
}
.loader {
    border: 6px solid #f3f3f3;
    position: absolute;
    left: 50%;
    border-radius: 50%;
    border-top: 6px solid #b65043;
    border-bottom: 6px solid #b65043;
    width: 30px;
    height: 30px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
  }
  
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  #profile-order-table th,#admin-order-table th{
    font-size:21px;
  }
  #profile-order-table td,#admin-order-table td{
    font-size:16px;
  }

  .admin{
    display:none;
  }
  .run-animation {
    animation: cart-menu-animation  1.5s infinite ; 
  }
  @keyframes cart-menu-animation {
    0%   {background-color:#6abe71;}
    50%  {background-color:#6abe717d;}
    100% {background-color:#6abe71;}
  }



.small-box {
    border-radius: .25rem;
    box-shadow: 0 0 1px rgba(0,0,0,.125), 0 1px 3px rgba(0,0,0,.2);
    display: block;
    margin-bottom: 20px;
    position: relative;
}
.small-box h3{
    color:white;
    margin:10px;
}
.small-box .icon {
    color: rgba(0,0,0,.15);
    z-index: 0;
}

pre{
    word-wrap: break-word;
    white-space: pre-wrap; 
    color:black;
    font-size:18px;
}

.recipe-video-link{
    font-size: 25px;
    color: #f74545;
}
.social-box{
    padding-top:30px;
}
.pay-partner-box{
    padding-top:80px;

}
.pay-partner-box .heading-title{
    margin-bottom:0px;
}

.social-icons img{
    width:100%;
}
.close{
    opacity:1
}

.bg-light {
    background-color:rgb(255,255,255,1) !important;
}

.navbar-brand{
    height:100px;
}
.page-breadcrumb{
    padding: 190px 0 50px;

}
.navbar-toggler-icon{
    width: 2.5em;
    height: 2.5em;
}
#order-modal-table th, #order-modal-table td{
    font-size:20px;
}
.qt-background p {
    font-weight: 500;
}
footer{
    display:block !important;
}

.footer-icon{
    font-size:25px !important;
}
.footer-area p.lead {
    font-weight: 400;
}
 
.cover-slides h1{
    font-size:90px;
}
.cover-slides p{
    font-size:30px;
    font-weight:500;
}


/**Product Modal CSS**/

.product-hover-info {
    color: white;
    margin-top: 30%;
    cursor: pointer;
}

.product-detail h3 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 600;
}

.product-detail p {
    font-size: 18px;
}

.product-detail-title {
    margin-bottom: 20px;
    font-size: 28px;
}

.product-detail img {
    height: 40px;
    margin-right: 20px;
}

/*Recipe Modal CSS*/
.recipe-detail h3 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 600;
}

.recipe-detail p {
    font-size: 18px;
}

.recipe-detail-title {
    margin-bottom: 20px;
    font-size: 28px;
}

.recipe-detail img {
    height: 40px;
    margin-right: 20px;
}
@media only screen and (max-width: 600px) {
    .navbar-brand{
        height: 70px;
    }
    .slides-container li img{
        top:0px !important;
    }
}

@media only screen and (max-width: 700px) {

    .navbar-brand{
        height:80px;
    }
    .slides-container li img{
        top:0px !important;
    }
    .inner-column .btn-outline-new-white{
        padding: 8px 15px;
        font-size:12px !important;
    }
    .qt-background p {
        font-size: 18px;
        font-weight:500;
        
    }
    .cover-slides h1{
        font-size:35px;
    }
    .cover-slides p{
        font-size:18px;
        font-weight:500;
    }
  
    .why-text h4{
        margin-top:85px;
    }
    .inner-column p{
        font-size:14px;
    }
    .overlay-background-2 {
        opacity: 0.3!important;
    }
    .social-hidden{
        display:none;
    }
}
  .top-navbar .navbar-light .navbar-nav .nav-link{
    font-size:14px;
    font-weight:500;
}
   
 @media only screen and (max-width: 1700px) {
    .navbar-brand{
        height: 70px;
    }
    .top-navbar .navbar-light .navbar-nav .nav-link{
        font-size:12px;
    }
    #home-title img {
        position: static !important;
        height: 55% !important;
        width: 55% !important;
        margin-top: 30%;
    }
  }
  @media only screen and (max-width: 1500px) {
    #home-title img {
        position: static !important;
        height: 55% !important;
        width: 55% !important;
        margin-top: 30%;
    }
    .top-navbar .navbar-light .navbar-nav .nav-link{
        font-size:11px;
    }
  }
  @media only screen and (max-width: 1250px) {
    .top-navbar .navbar-light .navbar-nav .nav-link{
        font-size:12px;
    }
  }
  @media only screen and (max-width: 1200px) {
    .top-navbar .navbar-light .navbar-nav .nav-link{
        font-size:10px;
    }
  }
  @media only screen and (max-width: 1000px) {
    .top-navbar .navbar-light .navbar-nav .nav-link{
        font-size:8px;
    }
  }
  @media only screen and (max-width: 991px) {
    .top-navbar .navbar-light .navbar-nav .nav-link{
        font-size:13px;
    }
  }
 
  #news-icon {
    top: 80%;
    position: fixed;
    border-radius: 50%;
    background-color:#b1d6fd;;
    right: 30px;
    z-index: 5;
    color:black;
}

#news-icon i {
  
   transition:ease 200ms;
    padding:20px;
}

#news-icon i:hover {
    
    opacity:0.5;
    transition:ease 200ms;

}
.sub-product-img{
    width:100%;
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #b65037; /* Blue */
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
.loading-block{
    height: 100px;
    top: 500px;
    position: relative;
}