
    .search-wrap {
        width: 100%;
        display: block;
        z-index: 9;
        padding: 35px;
    }
    .search-form label {
        font-weight: normal;
        color: white;
        font-size:1.3em;
    }
    .search-form .form-control{
        color:#f08419;
        font-size:1em;
        font-weight:700;
    }
    .search-btn{
        margin-top: 38px;
    }
    .bootstrap-datetimepicker-widget.dropdown-menu{
        width:auto !important;
    }
    .input-group-text{
        padding:10px 18px 10px 18px !important;
    }
    .input-group-append .input-group-text i, .input-group-prepend .input-group-text i{
        color:white;
        opacity:1;
    }
    .form-control+.input-group-append .input-group-text, .form-control+.input-group-prepend .input-group-text{
        background-color:unset;
    }