.toggle input[type=checkbox] {
    height: 0;
    width: 0;
    visibility: hidden;
}

.toggle label {
    cursor: pointer;
    text-indent: -9999px;
    width: 80px;
    height: 40px;
    background: grey;
    display: block;
    border-radius: 100px;
    position: relative;
}

.toggle label:after {
    content: '';
    position: absolute;
    top: 5px;
    left: 5px;
    width: 36px;
    height: 30px;
    background: #fff;
    border-radius: 90px;
    transition: 0.1s;
}

.toggle input:checked+label {
    background: #bada55;
}

.toggle input:checked+label:after {
    left: calc(100% - 5px);
    transform: translateX(-100%);
}

.toggle label:active:after {
    width: 130px;
}