<!-- Start All Pages -->
<div class="all-page-title page-breadcrumb">
	<div class="container text-center">
		<div class="row">
			<div class="col-lg-12">
				<h1>後台管理</h1>
			</div>
		</div>
	</div>
</div>
<!-- End All Pages -->
<!-- Start blog -->
<div class="blog-box" ng-init="init('comment')">
	<div class="container">
		<div class="row mb-5">
			<div class="col-lg-12">
				<div class="row">
					<div class="col-lg-2 col-md-6 col-sm-4 col-xs-4">
						<div class="inner-column">
							<a class="btn btn-lg btn-circle btn-outline-new-white" href="#!admin">基本資料</a>
						</div>
					</div>
					<div class="col-lg-2 col-md-6 col-sm-4 col-xs-4">
						<div class="inner-column">
							<a class="btn btn-lg btn-circle btn-outline-new-white" href="#!admin-order">查看訂單</a>
						</div>
					</div>
					<div class="col-lg-2 col-md-6 col-sm-4 col-xs-4">
						<div class="inner-column">
							<a class="btn btn-lg btn-circle btn-outline-new-white" href="#!admin-product">查看商品</a>
						</div>
					</div>
					<div class="col-lg-2 col-md-6 col-sm-4 col-xs-4">
						<div class="inner-column">
							<a class="btn btn-lg btn-circle btn-outline-new-white" href="#!admin-product-order">商品排序</a>
						</div>
					</div>
					<div class="col-lg-2 col-md-6 col-sm-4 col-xs-4">
						<div class="inner-column">
							<a class="btn btn-lg btn-circle btn-outline-new-white" href="#!admin-rule">查看規則</a>
						</div>
					</div>
					<div class="col-lg-2 col-md-6 col-sm-4 col-xs-4">
						<div class="inner-column">
							<a class="btn btn-lg btn-circle btn-outline-new-white" href="#!admin-comment">查看留言</a>
						</div>
					</div>
					<div class="col-lg-2 col-md-6 col-sm-4 col-xs-4">
						<div class="inner-column">
							<a class="btn btn-lg btn-circle btn-outline-new-white" href="#!admin-user">會員管理</a>
						</div>
					</div>
					<div class="col-lg-2 col-md-6 col-sm-4 col-xs-4">
						<div class="inner-column">
							<a class="btn btn-lg btn-circle btn-outline-new-white" href="#!admin-news">消息管理</a>
						</div>
					</div>
					<div class="col-lg-2 col-md-6 col-sm-4 col-xs-4">
						<div class="inner-column">
							<a class="btn btn-lg btn-circle btn-outline-new-white" href="#!admin-recipe">查看食譜</a>
						</div>
					</div>
					<div class="col-lg-2 col-md-6 col-sm-4 col-xs-4">
						<div class="inner-column">
							<a class="btn btn-lg btn-circle btn-outline-new-white" href="#!admin-social">查看社群</a>
						</div>
					</div>
					<div class="col-lg-2 col-md-6 col-sm-4 col-xs-4">
						<div class="inner-column">
							<a class="btn btn-lg btn-circle btn-outline-new-white" href="#!admin-media">查看媒體</a>
						</div>
					</div>
					<div class="col-lg-2 col-md-6 col-sm-4 col-xs-4">
						<div class="inner-column">
							<a class="btn btn-lg btn-circle btn-outline-new-white" href="#!admin-banner">首頁廣告</a>
						</div>
					</div>
				</div>
				<div class="row mt-5">

					<br><br>
				</div>
				<div class="row mt-5">
					<div class="col-lg-12">
						<div class="heading-title text-center">
							<h2>查看留言</h2>
						</div>
					</div>
				</div>
				<div class="row mt-5" ng-repeat="comment in commentList">
					<div class="col-lg-12 col-md-6">
						<p>第 {{$index+1}} 則留言 </p>
						<p>留言人: {{comment.name}}</p>
						<p>Email: {{comment.email}}</p>
						<p>電話: {{comment.phone}}</p>
						<pre>{{comment.message}}</pre>
						<p class="error-message text-align">{{errorMsg}}</p>
						<p class="success-message text-align">{{successMsg}}</p>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>
<!-- End blog -->
<style>
	@media (max-width: 576px) {
		.col-xs-4 {
			flex: 0 0 31.333333%;
			max-width: 31.333333%;
		}
	}
</style>
<!-- End Contact info -->