<!-- Start All Pages -->
<div class="all-page-title page-breadcrumb">
	<div class="container text-center">
		<div class="row">
			<div class="col-lg-12">
				<h1>後台管理</h1>
			</div>
		</div>
	</div>
</div>
<!-- End All Pages -->
<!-- Start blog -->
<div class="blog-box" ng-init="init('banner')">
	<div class="container">
		<div class="row mb-5">
			<div class="col-lg-12">
				<div class="row">
					<div class="col-lg-2 col-md-6 col-sm-4 col-xs-4">
						<div class="inner-column">
							<a class="btn btn-lg btn-circle btn-outline-new-white" href="#!admin">基本資料</a>
						</div>
					</div>
					<div class="col-lg-2 col-md-6 col-sm-4 col-xs-4">
						<div class="inner-column">
							<a class="btn btn-lg btn-circle btn-outline-new-white" href="#!admin-order">查看訂單</a>
						</div>
					</div>
					<div class="col-lg-2 col-md-6 col-sm-4 col-xs-4">
						<div class="inner-column">
							<a class="btn btn-lg btn-circle btn-outline-new-white" href="#!admin-product">查看商品</a>
						</div>
					</div>
					<div class="col-lg-2 col-md-6 col-sm-4 col-xs-4">
						<div class="inner-column">
							<a class="btn btn-lg btn-circle btn-outline-new-white" href="#!admin-product-order">商品排序</a>
						</div>
					</div>
					<div class="col-lg-2 col-md-6 col-sm-4 col-xs-4">
						<div class="inner-column">
							<a class="btn btn-lg btn-circle btn-outline-new-white" href="#!admin-rule">查看規則</a>
						</div>
					</div>
					<div class="col-lg-2 col-md-6 col-sm-4 col-xs-4">
						<div class="inner-column">
							<a class="btn btn-lg btn-circle btn-outline-new-white" href="#!admin-comment">查看留言</a>
						</div>
					</div>
					<div class="col-lg-2 col-md-6 col-sm-4 col-xs-4">
						<div class="inner-column">
							<a class="btn btn-lg btn-circle btn-outline-new-white" href="#!admin-user">會員管理</a>
						</div>
					</div>
					<div class="col-lg-2 col-md-6 col-sm-4 col-xs-4">
						<div class="inner-column">
							<a class="btn btn-lg btn-circle btn-outline-new-white" href="#!admin-news">消息管理</a>
						</div>
					</div>
					<div class="col-lg-2 col-md-6 col-sm-4 col-xs-4">
						<div class="inner-column">
							<a class="btn btn-lg btn-circle btn-outline-new-white" href="#!admin-recipe">查看食譜</a>
						</div>
					</div>
					<div class="col-lg-2 col-md-6 col-sm-4 col-xs-4">
						<div class="inner-column">
							<a class="btn btn-lg btn-circle btn-outline-new-white" href="#!admin-social">查看社群</a>
						</div>
					</div>
					<div class="col-lg-2 col-md-6 col-sm-4 col-xs-4">
						<div class="inner-column">
							<a class="btn btn-lg btn-circle btn-outline-new-white" href="#!admin-media">查看媒體</a>
						</div>
					</div>
					<div class="col-lg-2 col-md-6 col-sm-4 col-xs-4">
						<div class="inner-column">
							<a class="btn btn-lg btn-circle btn-outline-new-white" href="#!admin-banner">首頁廣告</a>
						</div>
					</div>
				</div>
				<div class="row mt-5">
					<br><br>
				</div>
				<div class="row mt-5">
					<div class="col-lg-12">
						<div class="heading-title text-center">
							<h2>首頁廣告</h2>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-6 col-md-6 ">
						<h2>廣告版1-電腦</h2>
						<a href="javascript:void(0);" class="red" ng-show="bannerTable.desktop1!=null" ng-click="bannerTable.desktop1=null"><i class="fas fa-trash"></i></a>				

						<img  class="banner-img"  alt="照片1" ng-if="bannerTable.desktop1!=null && bannerTable.desktop1!=''" ng-src="{{bannerTable.desktop1}}" />
						<input type="file" ng-file-select="onFileSelect($files)" value="開啟檔案"  ng-model="bannerImageDesktopSrc1">
						<img  class="sub-product-img" ng-show="bannerImageDesktopSrc1!=null" alt="新照片2" ng-src="{{bannerImageDesktopSrc1}}" />

					</div>
					<div class="col-lg-6 col-md-6 " >
						<h2>廣告版2-電腦</h2>
						<a href="javascript:void(0);" class="red" ng-show="bannerTable.desktop2!=null" ng-click="bannerTable.desktop2=null"><i class="fas fa-trash"></i></a>				

						<img  class="banner-img"  alt="照片1" ng-if="bannerTable.desktop2!=null && bannerTable.desktop2!=''" ng-src="{{bannerTable.desktop2}}" />
						<input type="file" ng-file-select="onFileSelect($files)" value="開啟檔案"  ng-model="bannerImageDesktopSrc2">
						<img  class="sub-product-img" ng-show="bannerImageDesktopSrc2!=null" alt="新照片2" ng-src="{{bannerImageDesktopSrc2}}" />
					</div>
				</div>
				<div class="row mt-5">
					<div class="col-lg-6 col-md-6 ">
						<h2>廣告版1-手機</h2>
						<a href="javascript:void(0);" class="red" ng-show="bannerTable.mobile1!=null" ng-click="bannerTable.mobile1=null"><i class="fas fa-trash"></i></a>				

						<img  class="banner-img"  alt="照片1" ng-if="bannerTable.mobile1!=null && bannerTable.mobile1!=''" ng-src="{{bannerTable.mobile1}}" />
						<input type="file" ng-file-select="onFileSelect($files)" value="開啟檔案"  ng-model="bannerImageMobileSrc1">
						<img  class="sub-product-img" ng-show="bannerImageMobileSrc1!=null" alt="新照片2" ng-src="{{bannerImageMobileSrc1}}" />

					</div>
					<div class="col-lg-6 col-md-6 " >
						<h2>廣告版2-手機</h2>
						<a href="javascript:void(0);" class="red" ng-show="bannerTable.mobile2!=null" ng-click="bannerTable.mobile2=null"><i class="fas fa-trash"></i></a>				

						<img  class="banner-img"  alt="照片1" ng-if="bannerTable.mobile2!=null && bannerTable.mobile2!=''" ng-src="{{bannerTable.mobile2}}" />
						<input type="file" ng-file-select="onFileSelect($files)" value="開啟檔案"  ng-model="bannerImageMobileSrc2">
						<img  class="sub-product-img" ng-show="bannerImageMobileSrc2!=null" alt="新照片2" ng-src="{{bannerImageMobileSrc2}}" />
					</div>
				</div>
				<div class="row mt-5">
					<div class="col-lg-12 col-md-12">
						<button class="btn btn-primary float-right" type="button"
							ng-click="updateBanner()">更新</button>

					</div>
				</div>
			</div>

		</div>
	</div>
</div>
<!-- End blog -->


<!-- End Contact info -->
<style>
	.banner-img {
		width: 100%;
	}
	.red{
		color:#c15118;
	}
	
</style>
