<!-- Start All Pages -->
<div class="all-page-title page-breadcrumb">
	<div class="container text-center">
		<div class="row">
			<div class="col-lg-12">
				<h1>後台管理</h1>
			</div>
		</div>
	</div>
</div>
<!-- End All Pages -->
<!-- Start blog -->
<div class="blog-box" ng-init="init('order')">
	<div class="container">
		<div class="row mb-5">
			<div class="col-lg-12">
				<div class="row">
					<div class="col-lg-2 col-md-6 col-sm-4 col-xs-4">
						<div class="inner-column">
							<a class="btn btn-lg btn-circle btn-outline-new-white" href="#!admin">基本資料</a>
						</div>
					</div>
					<div class="col-lg-2 col-md-6 col-sm-4 col-xs-4">
						<div class="inner-column">
							<a class="btn btn-lg btn-circle btn-outline-new-white" href="#!admin-order">查看訂單</a>
						</div>
					</div>
					<div class="col-lg-2 col-md-6 col-sm-4 col-xs-4">
						<div class="inner-column">
							<a class="btn btn-lg btn-circle btn-outline-new-white" href="#!admin-product">查看商品</a>
						</div>
					</div>
					<div class="col-lg-2 col-md-6 col-sm-4 col-xs-4">
						<div class="inner-column">
							<a class="btn btn-lg btn-circle btn-outline-new-white" href="#!admin-product-order">商品排序</a>
						</div>
					</div>
					<div class="col-lg-2 col-md-6 col-sm-4 col-xs-4">
						<div class="inner-column">
							<a class="btn btn-lg btn-circle btn-outline-new-white" href="#!admin-rule">查看規則</a>
						</div>
					</div>
					<div class="col-lg-2 col-md-6 col-sm-4 col-xs-4">
						<div class="inner-column">
							<a class="btn btn-lg btn-circle btn-outline-new-white" href="#!admin-comment">查看留言</a>
						</div>
					</div>
					<div class="col-lg-2 col-md-6 col-sm-4 col-xs-4">
						<div class="inner-column">
							<a class="btn btn-lg btn-circle btn-outline-new-white" href="#!admin-user">會員管理</a>
						</div>
					</div>
					<div class="col-lg-2 col-md-6 col-sm-4 col-xs-4">
						<div class="inner-column">
							<a class="btn btn-lg btn-circle btn-outline-new-white" href="#!admin-news">消息管理</a>
						</div>
					</div>
					<div class="col-lg-2 col-md-6 col-sm-4 col-xs-4">
						<div class="inner-column">
							<a class="btn btn-lg btn-circle btn-outline-new-white" href="#!admin-recipe">查看食譜</a>
						</div>
					</div>
					<div class="col-lg-2 col-md-6 col-sm-4 col-xs-4">
						<div class="inner-column">
							<a class="btn btn-lg btn-circle btn-outline-new-white" href="#!admin-social">查看社群</a>
						</div>
					</div>
					<div class="col-lg-2 col-md-6 col-sm-4 col-xs-4">
						<div class="inner-column">
							<a class="btn btn-lg btn-circle btn-outline-new-white" href="#!admin-media">查看媒體</a>
						</div>
					</div>
					<div class="col-lg-2 col-md-6 col-sm-4 col-xs-4">
						<div class="inner-column">
							<a class="btn btn-lg btn-circle btn-outline-new-white" href="#!admin-banner">首頁廣告</a>
						</div>
					</div>
				</div>
				<div class="row mt-5">
					<div class="col-lg-12 order-stats">
						<p>總共{{orderListTableData.length}}個訂單</p>
					</div>
				</div>
				<div class="row mt-5">
					<div class="col-lg-12">
						<div class="heading-title text-center">
							<h2>全部訂單</h2>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-12 col-md-6 ">
						<div class="row table-responsive" id="admin-order-table">
							<table ng-table="tableParams" class="table" show-filter="true">
								<tr ng-repeat="data in $data" class="text-center">
									<td title="'訂單號碼'" filter="{ order_id: 'text'}" sortable="'order_id'">
										{{data.order_id}}</td>
									<td title="'城市'">
										{{data.id}}</td>
									<td title="'地址'">
										{{data.address}}</td>
									<td title="'郵遞區號'">
										{{data.postcode}}</td>
									
									<!-- <td title="'查看訂單'">
										<a href="javascript:void(0);" ng-click="orderPopup(data)"><i
												class="far fa-file-alt"></i></a></td> -->
									<td title="'查看訂單'">
										<a href="javascript:void(0);" ng-href="#!product-detail?id={{data.order_id}}" target="_blank"><i
												class="far fa-file-alt"></i></a></td>
									<td title="'列印'">
										<a href="javascript:void(0);" ng-href="#!print-product?id={{data.order_id}}" target="_blank"><i class="fas fa-print"></i></a></td>			
									
									<td title="'出貨狀態'">
										<label class="switch">
											<input type="checkbox" ng-click="updateStatus(data.order_id)"
												ng-checked="data.status">
											<span class="slider round"></span>
										</label></td>
									<td title="'價錢'">
										${{data.price}}元</td>
									<td title="'付款狀態'" sortable="'status'">
										<span ng-if="data.pay_status_code==1" class="no-deal">未付款</span>
										<span ng-if="data.pay_status_code==0" class="deal">${{data.pay_amount}}</span>
										<span ng-if="data.pay_status_code==3" class="no-deal">付款有問題</span>
										 <span ng-if="data.pay_status_code==2" class="no-deal">未付款</span>
										</td>	

									</td>
									<td title="'付款方式'" sortable="'pay_type'">
										<span ng-if="data.pay_type=='card'">信用卡</span><span ng-if="data.pay_type=='ATM'">ATM</span></td>
									<td title="'下訂日期'" sortable="'pay_date'">{{data.pay_date}}</td>
									<td title="'刪除'">
										<a href="javascript:void(0);" class="red" ng-click="deleteOrder(data)"><i class="fas fa-trash"></i></a>				
									</td>
									
								</tr>
							</table>
							<p class="error-message text-align">{{errorMsg}}</p>
							<p class="success-message text-align">{{successMsg}}</p>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>
<!-- End blog -->


<!-- End Contact info -->
<style>
	#admin-order-table div {
		width: 100%;
		text-align: center;
	}

	.blog-img {
		width: 100%;
	}

	.modal-lg {
		width: 100%;
		max-width: 1024px;
	}

	.no-deal {
		color: red;
	}

	.deal {
		color: green;
	}

	.order-stats p {
		font-size: 20px;
	}
</style>
<style>
	@media (max-width: 576px) {
		.col-xs-4 {
			flex: 0 0 31.333333%;
			max-width: 31.333333%;
		}
	}
</style>

<style>
	.switch {
		position: relative;
		display: inline-block;
		width: 60px;
		height: 34px;
	}

	.switch input {
		opacity: 0;
		width: 0;
		height: 0;
	}

	.slider {
		position: absolute;
		cursor: pointer;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: #ccc;
		-webkit-transition: .4s;
		transition: .4s;
	}

	.slider:before {
		position: absolute;
		content: "";
		height: 26px;
		width: 26px;
		left: 4px;
		bottom: 4px;
		background-color: white;
		-webkit-transition: .4s;
		transition: .4s;
	}

	input:checked+.slider {
		background-color: #2196F3;
	}

	input:focus+.slider {
		box-shadow: 0 0 1px #2196F3;
	}

	input:checked+.slider:before {
		-webkit-transform: translateX(26px);
		-ms-transform: translateX(26px);
		transform: translateX(26px);
	}

	/* Rounded sliders */
	.slider.round {
		border-radius: 34px;
	}

	.slider.round:before {
		border-radius: 50%;
	}
</style>