<!-- Start All Pages -->
<div class="all-page-title page-breadcrumb">
	<div class="container text-center">
		<div class="row">
			<div class="col-lg-12">
				<h1>後台管理</h1>
			</div>
		</div>
	</div>
</div>
<!-- End All Pages -->
<!-- Start blog -->
<div class="blog-box" ng-init="init('news')">
	<div class="container">
		<div class="row mb-5">
			<div class="col-lg-12">
				<div class="row">
					<div class="col-lg-2 col-md-6 col-sm-4 col-xs-4">
						<div class="inner-column">
							<a class="btn btn-lg btn-circle btn-outline-new-white" href="#!admin">基本資料</a>
						</div>
					</div>
					<div class="col-lg-2 col-md-6 col-sm-4 col-xs-4">
						<div class="inner-column">
							<a class="btn btn-lg btn-circle btn-outline-new-white" href="#!admin-order">查看訂單</a>
						</div>
					</div>
					<div class="col-lg-2 col-md-6 col-sm-4 col-xs-4">
						<div class="inner-column">
							<a class="btn btn-lg btn-circle btn-outline-new-white" href="#!admin-product">查看商品</a>
						</div>
					</div>
					<div class="col-lg-2 col-md-6 col-sm-4 col-xs-4">
						<div class="inner-column">
							<a class="btn btn-lg btn-circle btn-outline-new-white" href="#!admin-product-order">商品排序</a>
						</div>
					</div>
					<div class="col-lg-2 col-md-6 col-sm-4 col-xs-4">
						<div class="inner-column">
							<a class="btn btn-lg btn-circle btn-outline-new-white" href="#!admin-rule">查看規則</a>
						</div>
					</div>
					<div class="col-lg-2 col-md-6 col-sm-4 col-xs-4">
						<div class="inner-column">
							<a class="btn btn-lg btn-circle btn-outline-new-white" href="#!admin-comment">查看留言</a>
						</div>
					</div>
					<div class="col-lg-2 col-md-6 col-sm-4 col-xs-4">
						<div class="inner-column">
							<a class="btn btn-lg btn-circle btn-outline-new-white" href="#!admin-user">會員管理</a>
						</div>
					</div>
					<div class="col-lg-2 col-md-6 col-sm-4 col-xs-4">
						<div class="inner-column">
							<a class="btn btn-lg btn-circle btn-outline-new-white" href="#!admin-news">消息管理</a>
						</div>
					</div>
					<div class="col-lg-2 col-md-6 col-sm-4 col-xs-4">
						<div class="inner-column">
							<a class="btn btn-lg btn-circle btn-outline-new-white" href="#!admin-recipe">查看食譜</a>
						</div>
					</div>
					<div class="col-lg-2 col-md-6 col-sm-4 col-xs-4">
						<div class="inner-column">
							<a class="btn btn-lg btn-circle btn-outline-new-white" href="#!admin-social">查看社群</a>
						</div>
					</div>
					<div class="col-lg-2 col-md-6 col-sm-4 col-xs-4">
						<div class="inner-column">
							<a class="btn btn-lg btn-circle btn-outline-new-white" href="#!admin-media">查看媒體</a>
						</div>
					</div>
					<div class="col-lg-2 col-md-6 col-sm-4 col-xs-4">
						<div class="inner-column">
							<a class="btn btn-lg btn-circle btn-outline-new-white" href="#!admin-banner">首頁廣告</a>
						</div>
					</div>
				</div>
				<!-- <div class="row mt-5">
					<div class="col-lg-10 order-stats">
						<p>總共{{orderListTableData.length}}個消息</p>
					</div>

				</div> -->

				<div class="row mt-5">
					<div class="col-lg-12">
						<div class="heading-title text-center">
							<h2>全部消息</h2>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-lg-12 col-md-6 " id="admin-order-table">
						<div class="row table-responsive" id="admin-product-table">
							<table ng-table="newsTable" class="table" show-filter="false">
								<tr ng-repeat="d in $data" class="text-center">
									<td title="'標題'">{{d.title}}</td>
									<td title="'日期'">{{d.date}}</td>
									<td title="'相關連結'">{{d.link}}</td>

									<td title="'顯示'"><label class="switch">
										<input type="checkbox" ng-click="updateNewsShow(d.id,d.show)"
											ng-checked="d.show">
										<span class="slider round"></span>
									</label></td>
									<td title="'編輯'">
										<a href="javascript:void(0);" ng-click="editNewsPopup(d)"><i class="far fa-edit"></i></a>
									</td>
									<td title="'刪除'">
										<a href="javascript:void(0);" class="red" ng-click="deleteNews(d.id)"><i class="fas fa-trash"></i></a>
									</td>
								</tr>
							</table>
							<p class="error-message text-align">{{errorMsg}}</p>
							<p class="success-message text-align">{{successMsg}}</p>
						</div>
					</div>
				</div>
				<div class="row mt-5">
					<div class="col-lg-12">
						<div class="heading-title text-center">
							<h2>新增消息</h2>
						</div>
					</div>
				</div>
				<div class="row">

					<div class="col-lg-3  form-group">
						<label for="title">標題</label>
						<input type="text" id="birthday" placeholder="標題" class="form-control" name="title"
							ng-model="newTitle">
					</div>
					<div class="col-lg-3  form-group">
						<label for="date">日期</label>
						<input type="date" id="birthday" placeholder="時間" class="form-control" name="date"
							ng-model="newDate" max="2099-12-31">
					</div>
					<div class="col-lg-3  form-group">
						<label for="link">連結</label>
						<input type="text" id="birthday" placeholder="連結" class="form-control" name="link"
						ng-model="newLink">
					</div>
					<div class="col-lg-3 admin-info">
						<label for="date">顯示</label><br>
						<label class="switch">
							<input type="checkbox" ng-model="newShow">
							<span class="slider round"></span>
						</label>
					</div>
				</div>
				<div class="row">

					<div class="col-lg-12 col-md-6" id="news-message">
						<textarea ng-model="newMessage" placeholder="訊息內容"></textarea>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-12 col-md-12">
						<button class="btn btn-primary float-right" type="button" ng-click="addNews()">新增</button>

					</div>
				</div>

			</div>

		</div>
	</div>
</div>
<!-- End blog -->

<style>
	#news-message textarea {
		width: 100%;
		height: 200px;
	}

	.red {
		color: #c15118;
	}
</style>
<style>
	@media (max-width: 576px) {
		.col-xs-4 {
			flex: 0 0 31.333333%;
			max-width: 31.333333%;
		}
	}
</style>
<style>
	.switch {
		position: relative;
		display: inline-block;
		width: 60px;
		height: 34px;
	}

	.switch input {
		opacity: 0;
		width: 0;
		height: 0;
	}

	.slider {
		position: absolute;
		cursor: pointer;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: #ccc;
		-webkit-transition: .4s;
		transition: .4s;
	}

	.slider:before {
		position: absolute;
		content: "";
		height: 26px;
		width: 26px;
		left: 4px;
		bottom: 4px;
		background-color: white;
		-webkit-transition: .4s;
		transition: .4s;
	}

	input:checked+.slider {
		background-color: #2196F3;
	}

	input:focus+.slider {
		box-shadow: 0 0 1px #2196F3;
	}

	input:checked+.slider:before {
		-webkit-transform: translateX(26px);
		-ms-transform: translateX(26px);
		transform: translateX(26px);
	}

	/* Rounded sliders */
	.slider.round {
		border-radius: 34px;
	}

	.slider.round:before {
		border-radius: 50%;
	}
</style>
<!-- End Contact info -->