<!-- Start All Pages -->
<div class="all-page-title page-breadcrumb">
	<div class="container text-center">
		<div class="row">
			<div class="col-lg-12">
				<h1>後台管理</h1>
			</div>
		</div>
	</div>
</div>
<!-- End All Pages -->
<!-- Start blog -->
<div class="blog-box" ng-init="init('user')">
	<div class="container">
		<div class="row mb-5">
			<div class="col-lg-12">
				<div class="row">
					<div class="col-lg-2 col-md-6 col-sm-4 col-xs-4">
						<div class="inner-column">
							<a class="btn btn-lg btn-circle btn-outline-new-white" href="#!admin">基本資料</a>
						</div>
					</div>
					<div class="col-lg-2 col-md-6 col-sm-4 col-xs-4">
						<div class="inner-column">
							<a class="btn btn-lg btn-circle btn-outline-new-white" href="#!admin-order">查看訂單</a>
						</div>
					</div>
					<div class="col-lg-2 col-md-6 col-sm-4 col-xs-4">
						<div class="inner-column">
							<a class="btn btn-lg btn-circle btn-outline-new-white" href="#!admin-product">查看商品</a>
						</div>
					</div>
					<div class="col-lg-2 col-md-6 col-sm-4 col-xs-4">
						<div class="inner-column">
							<a class="btn btn-lg btn-circle btn-outline-new-white" href="#!admin-product-order">商品排序</a>
						</div>
					</div>
					<div class="col-lg-2 col-md-6 col-sm-4 col-xs-4">
						<div class="inner-column">
							<a class="btn btn-lg btn-circle btn-outline-new-white" href="#!admin-rule">查看規則</a>
						</div>
					</div>
					<div class="col-lg-2 col-md-6 col-sm-4 col-xs-4">
						<div class="inner-column">
							<a class="btn btn-lg btn-circle btn-outline-new-white" href="#!admin-comment">查看留言</a>
						</div>
					</div>
					<div class="col-lg-2 col-md-6 col-sm-4 col-xs-4">
						<div class="inner-column">
							<a class="btn btn-lg btn-circle btn-outline-new-white" href="#!admin-user">會員管理</a>
						</div>
					</div>
					<div class="col-lg-2 col-md-6 col-sm-4 col-xs-4">
						<div class="inner-column">
							<a class="btn btn-lg btn-circle btn-outline-new-white" href="#!admin-news">消息管理</a>
						</div>
					</div>
					<div class="col-lg-2 col-md-6 col-sm-4 col-xs-4">
						<div class="inner-column">
							<a class="btn btn-lg btn-circle btn-outline-new-white" href="#!admin-recipe">查看食譜</a>
						</div>
					</div>
					<div class="col-lg-2 col-md-6 col-sm-4 col-xs-4">
						<div class="inner-column">
							<a class="btn btn-lg btn-circle btn-outline-new-white" href="#!admin-social">查看社群</a>
						</div>
					</div>
					<div class="col-lg-2 col-md-6 col-sm-4 col-xs-4">
						<div class="inner-column">
							<a class="btn btn-lg btn-circle btn-outline-new-white" href="#!admin-media">查看媒體</a>
						</div>
					</div>
					<div class="col-lg-2 col-md-6 col-sm-4 col-xs-4">
						<div class="inner-column">
							<a class="btn btn-lg btn-circle btn-outline-new-white" href="#!admin-banner">首頁廣告</a>
						</div>
					</div>
				</div>
				<div class="row mt-5">
					<div class="col-lg-10 order-stats">
						<p>總共{{tableParams.data.length}}個使用者</p>
					</div>
				
				</div>
			<!--	<div class="row mt-5">
					<div class="col-lg-12">
						<div class="heading-title text-center">
							<h2>點數管理</h2>
						</div>
					</div>
				</div>
				 <div class="row">
					<div class="col-lg-12 col-md-6 ">
						
						<div class="row" >
							
							<div class="col-lg-6 admin-info">
								<h3>生日贈送點數</h3> <input type="number" ng-model="creditRule.birthday_credit">
							</div>
							<div class="col-lg-6 admin-info ">
								<h3>活動關閉/開始</h3><label class="switch">
									<input type="checkbox" ng-click="updateBirthdayCredit(creditRule)"
										ng-checked="creditRule.birthday_credit_enable">
									<span class="slider round"></span>
								</label>
							</div>
						</div>
						<p>*若欲更新生日贈送點數，請關閉再開啟活動，生日贈送點數即會更新</p>
						<p class="error-message text-align">{{errorMsg}}</p>
                        <p class="success-message text-align">{{successMsg}}</p>
					</div>
				</div> -->
				<div class="row mt-5">
					<div class="col-lg-12">
						<div class="heading-title text-center">
							<h2>使用者清單</h2>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-12 col-md-6 " id="admin-order-table">
						<div class="row table-responsive" id="admin-product-table">
							<table ng-table="tableParams" class="table " show-filter="true" >
								<tr ng-repeat="data in $data" class="text-center" >
									<td title="'使用者'" filter="{ name: 'text'}" sortable="'name'" >
										{{data.name}}</td>
									<td title="'電子信箱'" filter="{ email: 'text'}" sortable="'email'">
										{{data.email}}</td>
									<td title="'電話'" filter="{ phone: 'text'}" sortable="'phone'">
										{{data.phone}}</td>
									<td title="'生日'" filter="{ birthday: 'text'}" sortable="'birthday'">
										{{data.birthday}}</td>
									<td title="'城市'" filter="{ city: 'text'}" sortable="'city'">
										{{data.city}}</td>
									<!-- <td title="'點數'">
										{{data.credit}}	
									</td> -->
								</tr>
							</table>
							<p class="error-message text-align">{{errorMsg}}</p>
                            <p class="success-message text-align">{{successMsg}}</p>
						</div>
					</div>
				</div>

			</div>

		</div>
	</div>
</div>
<!-- End blog -->


<!-- End Contact info -->
<style>
	#admin-product-table div{
		width:100%;
		text-align:center;
	}
	.blog-img {
		width: 100%;
	}

	.modal-lg {
		width: 100%;
		max-width: 1024px;
	}

	.no-deal {
		color: red;
	}
	
	.deal {
		color: green;
	}

	.order-stats p {
		font-size: 20px;
	}

	.red{
		color:#c15118;
	}
</style>
<style>
	.edit-product-detail h3{
		margin-top:10px;
		margin-bottom:10px;
		font-weight:600;
	}
	.edit-product-detail p{
		font-size:18px;
	}
	.edit-product-detail-title{
		margin-bottom:20px;
		font-size:28px;
	}
	.edit-product-detail img{
		height:40px;
		margin-right:20px;
	}
	.edit-product-detail .textarea-lg{
		width:100%;
		height: 300px;
	}
	.edit-product-detail .textarea-sm{
		width:100%;
	}
	.add-product h3{
		display:inline-block;
	}
	.edit-product-img{
		width:100%;
		margin-bottom:50px;
	}
	.edit-product-img input{
		display:inline;
	}
	.uploaded-product-img{
		height:200px;
		/* width:200px; */
	}
</style>
<style>
	.switch {
		position: relative;
		display: inline-block;
		width: 60px;
		height: 34px;
	}

	.switch input {
		opacity: 0;
		width: 0;
		height: 0;
	}

	.slider {
		position: absolute;
		cursor: pointer;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: #ccc;
		-webkit-transition: .4s;
		transition: .4s;
	}

	.slider:before {
		position: absolute;
		content: "";
		height: 26px;
		width: 26px;
		left: 4px;
		bottom: 4px;
		background-color: white;
		-webkit-transition: .4s;
		transition: .4s;
	}

	input:checked+.slider {
		background-color: #2196F3;
	}

	input:focus+.slider {
		box-shadow: 0 0 1px #2196F3;
	}

	input:checked+.slider:before {
		-webkit-transform: translateX(26px);
		-ms-transform: translateX(26px);
		transform: translateX(26px);
	}

	/* Rounded sliders */
	.slider.round {
		border-radius: 34px;
	}

	.slider.round:before {
		border-radius: 50%;
	}

</style>
<style>
	@media (max-width: 576px) {
		.col-xs-4 {
			flex: 0 0 31.333333%;
			max-width: 31.333333%;
		}
	}
</style>