<!-- Start All Pages -->
<div class="all-page-title page-breadcrumb">
	<div class="container text-center">
		<div class="row">
			<div class="col-lg-12">
				<h1>聯絡我們</h1>
			</div>
		</div>
	</div>
</div>
<!-- End All Pages -->

<!-- Start Contact -->
<div class="contact-box">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="row">
					<div class="col-md-6">
						<h2>營業時間</h2>
						<p>星期一: 休市</p>
						<p>星期二 - 星期日 : 早上8點到晚上6點</p>
					</div>
					<div class="col-md-6">
						<h2>聯絡方式</h2>
						<p>地址：
							{{infoData.address}}</p>
						<p> 電話：
							{{infoData.phone}}</p>
						<p> 傳真：
							{{infoData.tax}}</p>
						<p> 電子郵件：
							{{infoData.email}}</p>
					</div>
				</div>
			</div>
		</div>
		<br>
		<div class="row mt-5">
			<div class="col-lg-12  ">
				<div class="heading-title text-center">
					<h2>留言給我們</h2>
					<p class="mt-3">請在表格填入您的正確資料以及聯絡方式 ，以方便客服人員聯絡您。
						我們會在最快的時間內儘速處理您的需求，上海火腿謝謝您！
					</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12">
				<form id="contactForm">
					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<input type="text" class="form-control" id="name" ng-model="commentName" name="name" placeholder="姓名" >
								<div class="help-block with-errors"></div>
							</div>
						</div>
						<div class="col-md-12">
							<div class="form-group">
								<input type="email" placeholder="電子信箱" id="email" class="form-control" name="email" ng-model="commentEmail">
								<div class="help-block with-errors"></div>
							</div>
						</div>
						<div class="col-md-12">
							<div class="form-group">
								<input type="number" placeholder="聯絡電話" id="phone" class="form-control" name="name" ng-model="commentPhone">
								<div class="help-block with-errors"></div>
							</div>
						</div>
						<div class="col-md-12">
							<div class="form-group">
								<textarea class="form-control" id="message" placeholder="您對上海火腿想說的話" rows="4" ng-model="commentMsg"></textarea>
								<div class="help-block with-errors"></div>
							</div>
							<div class="submit-button text-center">
								<button class="btn btn-common"  type="button" ng-click="sendComment()">寄出</button>
								<p class="error-message text-align">{{errorMsg}}</p>
                            	<p class="success-message text-align">{{successMsg}}</p>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<!-- End Contact -->
<style>
	/* .page-breadcrumb {
		background: url(../images/contact-banner.jpg) no-repeat;
		background-repeat: no-repeat;
		background-size: cover;
	} */
	.contact-box{
		font-size: 18px;
	}
</style>