
<!-- Start slides -->

<div id="slides" class="cover-slides" >

	<ul class="slides-container" style="top:78px;" >
		<li class="text-center">
			<img id="first-background-img" alt="">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<p id="home-title" class="text-center"><img src="images/home/home-title.png"></p>
						<!-- <h1 class="m-b-20" style="margin-top:40%;"><strong>歡迎來到上海火腿</strong></h1>
						<p class="m-b-40"> 六十年經驗的美味老店 只給您最天然的產品 <br> -->
						<p><a class="btn btn-lg btn-circle btn-outline-new-white home-btn" href="#!product">馬上訂購</a></p>
					</div>
				</div>
			</div>
		</li>
		
		<li class="text-center" ng-if="bannerTable.img1!=null && bannerTable.img1!=''">
			<img class="sub-background-img" ng-src="{{bannerTable.img1}}" alt="">
		</li>
		<li class="text-center" ng-if="bannerTable.img2!=null && bannerTable.img2!=''">
			<img class="sub-background-img" ng-src="{{bannerTable.img2}}" alt="">
		</li>

	</ul>
	<div class="slides-navigation"  >
		<a href="#" class="next"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
		<a href="#" class="prev"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
	</div>
</div>


<!-- End slides -->

<!-- Start About -->
<div class="about-section-box" >
	<div class="container">
		<div class="row">
			<div class="col-lg-6 col-md-6 col-sm-12">
				<img src="images/home/home1.jpg" loading="lazy" class="landing-img" alt="">
			</div>
			<div class="col-lg-6 col-md-6 col-sm-12 text-center">
				<div class="inner-column">
					<h1>歡迎來到 <span>上海火腿</span></h1>
					<h4>關於我們</h4>
					<p>本公司自民國 45 年創業以來，已有 60
						餘年的時間，期間歷經多次的經濟改革與人事變遷，在多位前輩先進不斷的努力及食品業界各位師傅前輩客戶的支持與鼓勵下，方有今日的上海火腿食品有限公司，在此謝謝各位！</p>
					<p>先父曾訓示我們，食品業是良心道德事業，我們堅持此一信念，不做黑心食品，不做違法食品，不做仿冒商品，我們將本著服務人群的宗旨，再創新研發更優良的商品，以感謝各界的愛護，希望各位先進朋友不吝於給我們更多的指教，謝謝！
					</p>
					<!-- <a class="btn btn-lg btn-circle btn-outline-new-white" href="#">Reservation</a> -->
				</div>
			</div>
		</div>
	</div>
</div>
<!-- End About -->

<!-- Start QT -->
<!-- <div class="qt-box qt-background">
		<div class="container">
			<div class="row">
				<div class="col-md-8 ml-auto mr-auto text-left">
					<p class="lead ">
						我們堅持用最好的原料做最好的產品
					</p>
				</div>
			</div>
		</div>
	</div> -->
<div class="qt-box qt-background">
	<div class="container">
		<div class="row">
			<div class="col-md-8 ml-auto mr-auto text-left middle-banner">
				<p class="lead ">
					我們堅持用最好的原料做最好的產品
				</p>
			</div>
			<div class='overlay-background-2'></div>
		</div>
	</div>
</div>
<!-- End QT -->

<!-- Start Menu -->
<div class="menu-box" >
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="heading-title text-center">
					<h2>精選商品</h2>
					<p>六十年的經驗傳承，給您最好的食材</p>
				</div>
			</div>
		</div>

		<div class="row special-list">
			<div class="col-lg-4 col-md-6 special-grid drinks" ng-repeat="data in productTableList">
				<div class="gallery-single fix text-center">
					<img ng-src="{{data.img}}"  loading="lazy" class="img-fluid" alt="Image">
					<div class="why-text" ng-click="goProduct()">
						<h4>{{data.name}}</h4>
						<h5 ng-if="data.d_price!=''"><strike>定價：{{data.price}}元</strike> <br><span
								class="current-price">
								特價：{{data.d_price}}元</span><br></h5>
						<h5 ng-if="data.d_price==''">定價：{{data.price}}元
							<br></h5>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- End Menu -->

<!-- Start Gallery -->
<div class="gallery-box" >
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-12">
				<div class="heading-title text-center">
					<h2>如何料理</h2>
					<p>有好的食材，才會有好的料理</p>
				</div>
			</div>
		</div>
		<div class="tz-gallery">
			<div class="row">
				<div class="col-sm-12 col-md-4 col-lg-4">
					<a class="lightbox" ng-href="#!recipe">
						<img class="img-fluid" loading="lazy" src="images/home/home2.jpg" alt="Gallery Images">
					</a>
				</div>
				<div class="col-sm-12 col-md-4 col-lg-4">
					<a class="lightbox" ng-href="#!recipe">
						<img class="img-fluid" loading="lazy" src="images/home/home3.jpg" alt="Gallery Images">
					</a>
				</div>
				<div class="col-sm-12 col-md-4 col-lg-4">
					<a class="lightbox" ng-href="#!recipe">
						<img class="img-fluid" loading="lazy" src="images/home/home4.jpg" alt="Gallery Images">
					</a>
				</div>

			</div>
		</div>
	</div>
</div>
<!-- End Gallery -->
<!-- Start SOCIAL -->
<div class="social-box" > 
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="heading-title text-center">
					<h2>上海火腿社群</h2>
					<p>快來追蹤我們，隨時取得最新消息！</p>
				</div>
			</div>
		</div>
		<div class="tz-gallery">
			<div class="row">
				<div class="col-12">
					<div class="row">
						<div class="col-md-2 col-sm-3 col-xs-3 social-icons social-hidden">

						</div>
						<div class="col-md-2 col-sm-3 col-xs-3 social-icons" ng-if="facebookJson.show">
							<a ng-href="{{facebookJson.link}}" target="_blank">
								<img loading="lazy" src="icons/facebook.svg" alt="cook">
							</a>
						</div>
						<div class="col-md-2 col-sm-3 col-xs-3 social-icons" ng-if="instagramJson.show">

							<a ng-href="{{instagramJson.link}}" target="_blank">
								<img loading="lazy" src="icons/instagram.svg" alt="cook">
							</a>
						</div>
						<div class="col-md-2 col-sm-3 col-xs-3 social-icons" ng-if="lineJson.show">

							<a ng-href="{{lineJson.link}}" target="_blank">
								<img loading="lazy" src="icons/line.png" alt="cook">
							</a>
						</div>
						<div class="col-md-2 col-sm-3 col-xs-3 social-icons" ng-if="foodPandaJson.show">

							<a ng-href="{{foodPandaJson.link}}" target="_blank">
								<img loading="lazy" src="icons/foodpanda.png" alt="cook">
							</a>
						</div>
						<div class="col-md-2 col-sm-3 col-xs-3 social-icons social-hidden">

						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>
<div class="pay-partner-box" 　>
	<div class="container" ng-if="ecpayJson.show==1">
		<div class="row">
			<div class="col-lg-12">
				<div class="heading-title text-center">
					<h2>上海火腿線上金流</h2>
					<p>用最新的線上支付技術，給您最安心的購物環境</p>
				</div>
			</div>
		</div>
		<div class="text-center">
			<a ng-href="{{ecpayJson.link}}" class="ecpay-anchor">
				<img loading="lazy" src="icons/ecpay.png" alt="ecpay">
			</a>
		</div>
	</div>
</div>
<!-- End Social -->

<style>
	#first-background-img{
		opacity:0;
	}
	footer{
		display:none;
	}
	.social-box .col-3 {

		max-width: 24%;

	}

	.social-box .col-xs-3,
	.social-box .col-sm-3 {

		max-width: 24.5%;

	}

	.middle-banner {
		z-index: 2;
	}

	.overlay-background {
		background: #333;
		position: absolute;
		height: 100%;
		width: 100%;
		left: 0;
		top: 0;
		opacity: 0.8;
		z-index: 2;
	}

	.overlay-background-2 {
		background: #333;
		position: absolute;
		height: 100%;
		width: 100%;
		left: 0;
		top: 0;
		opacity: 0.2;
	}

	.social-icons {
		text-align: center;
	}

	.social-icons img {
		width: 70%
	}

	.home-btn {
		background: white;
		color: #6d1c19;
	}

	#home-title img {
		position: static !important;
		height: 80% !important;
		width: 80% !important;
		margin-top: 35%;
	}

	.slides-pagination{
		display:none;
	}
	
	@media only screen and (max-width: 700px) {
		.social-icons img {
			width: 100%
		}

	}
	@media only screen and (max-width: 1700px) {
    .navbar-brand{
        height: 70px;
    }
    .top-navbar .navbar-light .navbar-nav .nav-link{
        font-size:12px;
    }
    #home-title img {
        position: static !important;
        height: 55% !important;
        width: 55% !important;
        margin-top: 30%;
    }
  }
  @media only screen and (max-width: 1500px) {
    #home-title img {
        position: static !important;
        height: 40% !important;
        width: 40% !important;
        margin-top: 20%;
    }
    .top-navbar .navbar-light .navbar-nav .nav-link{
        font-size:11px;
	}
	.btn{
		padding: 7px 15px;
		font-size: 8px;
	}
	.cover-slides{
		height:800px !important;
	}
  }
  @media only screen and (max-width: 1400px) {
    #home-title img {
        position: static !important;
        height: 40% !important;
        width: 40% !important;
        margin-top: 20%;
    }
    .top-navbar .navbar-light .navbar-nav .nav-link{
        font-size:11px;
	}
	.btn{
		padding: 7px 15px;
		font-size: 8px;
	}
	.cover-slides{
		height:750px !important;
	}
  }

  @media only screen and (max-width: 1300px) {
    #home-title img {
        position: static !important;
        height: 40% !important;
        width: 40% !important;
        margin-top: 20%;
    }
    .top-navbar .navbar-light .navbar-nav .nav-link{
        font-size:11px;
	}
	.btn{
		padding: 7px 15px;
		font-size: 8px;
	}
	.cover-slides{
		height:700px !important;
	}
  }
  @media only screen and (max-width: 800px) {
    #home-title img {
        position: static !important;
        height: 100% !important;
        width: 100% !important;
        margin-top: 10%;
    }

	.btn{
		padding: 10px 15px;
		font-size: 12px;
	}
	
  }

</style>