<!-- Start All Pages -->
<div class="all-page-title page-breadcrumb">
	<div class="container text-center">
		<div class="row">
			<div class="col-lg-12">
				<h1>地點位置</h1>
			</div>
		</div>
	</div>
</div>
<!-- End All Pages -->

<!-- Start Contact -->
<div class="location-box">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="row">
					<div class="col-md-6">
						<h2>營業時間</h2>
						<p>星期一: 休市</p>
						<p>星期二 ~ 星期日 : 早上8點到晚上6點</p>
					</div>
					<div class="col-md-6">
						<h2>交通方式</h2>
						<p>捷運：<br>捷運中正紀念堂1號出口（有接駁車接送）
						</p>
						<p> 公車：<br>
							愛國東路口--237、253、297、38<br>
							愛國金山路口--253<br>
							潮州街口--18、208、208區、237、251、252、297、38、644、648、660、和平幹線、羅斯福路幹線</p>
					</div>
				</div>
			</div>
		</div>

		<br>
		<div class="row mt-5">
			<div class="col-lg-12  ">
				<div class="heading-title text-center">
					<h2>地圖示意</h2>
					<p class="mt-3">地址：
						{{infoData.address}}
					</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12">
				<div class="row">
					<div class="col-md-12">
						<iframe
							src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1807.5243398113441!2d121.52177481648769!3d25.032421997152923!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3442a99eccc93523%3A0x77d1b363c999563c!2z5LiK5rW354Gr6IW_6aOf5ZOB5pyJ6ZmQ5YWs5Y-4!5e0!3m2!1sen!2stw!4v1585411230990!5m2!1sen!2stw"
							height="300" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false"
							tabindex="0"></iframe> </div>
				</div>
				<div class="row mt-5">
					<div class="col-md-6">
						<img class="map" src="/images/map01.png">
					</div>
					<div class="col-md-6">
						<img class="map"  src="/images/map02.png">

					</div>
				</div>
				
			</div>
		</div>
	</div>
</div>
<!-- End Contact -->
<style>
	/* .page-breadcrumb {
		background: url(../images/location-banner.jpeg) no-repeat;
		background-repeat: no-repeat;
		background-size: cover;
	} */

	iframe, .map {
		width: 100%;
	}

	.location-box{
		font-size:18px;
		margin-top:65px;
	}
</style>