<!-- Start All Pages -->
<div class="all-page-title page-breadcrumb">
	<div class="container text-center">
		<div class="row">
			<div class="col-lg-12">
				<h1>媒體報導</h1>
			</div>
		</div>
	</div>
</div>
<!-- End All Pages -->
<!-- Start blog -->
<div class="blog-box">
	<div class="container">
		<!-- <div class="row">
			<div class="col-lg-12">
				<div class="heading-title text-center">
					<h2>Blog</h2>
					<p>Lorem Ipsum is simply dummy text of the printing and typesetting</p>
				</div>
			</div>
		</div> -->
		<div class="row mb-5">
			<div class="col-lg-6 col-md-6 col-12">
				<div class="blog-entry">
					<a href="javascript:void(0);" class="block-20" ng-click="popup(1)">
						<img class="blog-img" src="images/media/m1/1.jpg"></img>
					</a>
					<div class="text px-4 pt-3 pb-4">
						<h3 class="heading"><a href="#">非凡新聞周刊 - 中式火腿傳承創新 過年單月搶賺近千萬</a></h3>
					</div>
				</div>
			</div>

			<div class="col-lg-6 col-md-6 col-12">
				<div class="blog-entry">
					<a href="javascript:void(0);" class="block-20" ng-click="popup(2)">
						<img class="blog-img" src="images/media/m3/1.jpg"></img>
					</a>
					<div class="text px-4 pt-3 pb-4">
						<h3 class="heading"><a href="#">今周刊-南門市場靠顧客的嘴刁出奇蹟</a></h3>
					</div>
				</div>
			</div>

		</div>
		<div class="row mt-5">
			<div class="col-lg-6 col-md-6 col-12">
				<div class="blog-entry">
					<a href="javascript:void(0);" class="block-20" ng-click="popup(3)">
						<img class="blog-img" src="images/media/m4/2.jpg"></img>
					</a>
					<div class="text px-4 pt-3 pb-4">
						<h3 class="heading"><a href="#">蘋果日報-年菜特刊</a></h3>
					</div>
				</div>
			</div>
			<div class="col-lg-6 col-md-6 col-12">
				<div class="blog-entry">
					<a href="javascript:void(0);" class="block-20" ng-click="popup(4)">
						<img class="blog-img" src="images/media/m2/r01.jpg"></img>
						<img class="blog-img" src="images/media/m2/r03.jpg"></img>
					</a>
					<div class="text px-4 pt-3 pb-4">
						<h3 class="heading"><a href="#">三立電視台報導</a></h3>
					</div>
				</div>
			</div>
		</div>
		<div class="row mt-5">
			<div class="col-lg-6 col-md-6 col-12">
				<div class="blog-entry">
					<a href="javascript:void(0);" class="block-20" ng-click="popup(5)">
						<img class="blog-img" src="images/media/m5/1.jpg"></img>
					</a>
					<div class="text px-4 pt-3 pb-4">
						<h3 class="heading"><a href="#">聯合報-行家美食</a></h3>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- End blog -->


<!-- End Contact info -->
<style>
	.blog-img {
		width: 100%;
	}

    .modal-lg{
        width: 100%;  
        max-width: 1024px;
    }

</style>