<!-- Start All Pages -->
<div class="all-page-title page-breadcrumb">
	<div class="container text-center">
		<div class="row">
			<div class="col-lg-12">
				<h1>媒體報導</h1>
			</div>
		</div>
	</div>
</div>
<!-- End All Pages -->
<!-- Start blog -->
<!-- Start About -->
<div class="about-section-box">
	<div class="container">

		<div class="about-section-box" ng-repeat="media in mediaTableData">
			<div class="container">
				<div class="row">
					<div class="col-12 text-center">
						<h1 style="margin-top:20px; font-size:35px;">{{media.title}}</span></h1>
						<hr>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-3 col-md-3 col-sm-3" ng-if="media.show2==0">
						<a href="javascript:void(0);" class="block-20" >
							<a href="{{media.img1}}" target="_blank"><img class="blog-img"
									src="{{media.img1}}"></img></a>
						</a>
					</div>
					<div class="col-lg-3 col-md-3 col-sm-3" ng-if="media.show2==1">
						<a href="javascript:void(0);" class="block-20" >
							<a href="{{media.img1}}" target="_blank"><img class="blog-img"
									src="{{media.img1}}"></img></a>
						</a>
						<a href="javascript:void(0);" class="block-20" >
							<a href="{{media.img2}}" target="_blank"><img class="blog-img"
									src="{{media.img2}}"></img></a>
						</a>
					</div>
					<div class="col-lg-9 col-md-9 col-sm-9 ">
						<div class="inner-column">
							<h2 style="margin:20px;">{{media.subtitle}}</h2>
							<p style="margin:20px;">{{media.description}}</p>
							<div class="col-12 ">
								<div class="row">
									<div class="col-2 mb-4">
										<a href="{{media.img2}}" target="_blank"><img class="blog-img"
												src="{{media.img2}}"></img></a>
									</div>
									<div class="col-2 mb-4"  ng-if="media.img3!=null">
										<a href="{{media.img3}}" target="_blank"><img class="blog-img"
											src="{{media.img3}}"></img></a>
									</div>
									<div class="col-2 mb-4"  ng-if="media.img4!=null">
										<a href="{{media.img4}}" target="_blank"><img class="blog-img"
											src="{{media.img4}}"></img></a>
									</div>
									<div class="col-2 mb-4"  ng-if="media.img5!=null">
										<a href="{{media.img5}}" target="_blank"><img class="blog-img"
											src="{{media.img5}}"></img></a>
									</div>
									<div class="col-2 mb-4"  ng-if="media.img6!=null">
										<a href="{{media.img6}}" target="_blank"><img class="blog-img"
											src="{{media.img6}}"></img></a>
									</div>
									<div class="col-2 mb-4"  ng-if="media.img7!=null">
										<a href="{{media.img7}}" target="_blank"><img class="blog-img"
											src="{{media.img7}}"></img></a>
									</div>
									<div class="col-2 mb-4"  ng-if="media.img8!=null">
										<a href="{{media.img8}}" target="_blank"><img class="blog-img"
											src="{{media.img8}}"></img></a>
									</div>
									<div class="col-2 mb-4"  ng-if="media.img9!=null">
										<a href="{{media.img9}}" target="_blank"><img class="blog-img"
											src="{{media.img9}}"></img></a>
									</div>
									<div class="col-2 mb-4"  ng-if="media.img10!=null">
										<a href="{{media.img10}}" target="_blank"><img class="blog-img"
											src="{{media.img10}}"></img></a>
									</div>
									<div class="col-2 mb-4"  ng-if="media.img11!=null">
										<a href="{{media.img11}}" target="_blank"><img class="blog-img"
											src="{{media.img11}}"></img></a>
									</div>
									<div class="col-2 mb-4"  ng-if="media.img12!=null">
										<a href="{{media.img12}}" target="_blank"><img class="blog-img"
											src="{{media.img12}}"></img></a>
									</div>
									<div class="col-2 mb-4"  ng-if="media.img13!=null">
										<a href="{{media.img13}}" target="_blank"><img class="blog-img"
											src="{{media.img13}}"></img></a>
									</div>
									<div class="col-2 mb-4"  ng-if="media.img14!=null">
										<a href="{{media.img14}}" target="_blank"><img class="blog-img"
											src="{{media.img14}}"></img></a>
									</div>
									<div class="col-2 mb-4"  ng-if="media.img15!=null">
										<a href="{{media.img15}}" target="_blank"><img class="blog-img"
											src="{{media.img15}}"></img></a>
									</div>
								
		
								</div>
							
							</div>
						</div>
					</div>
					
				</div>
			</div>
		</div>

		
	
	</div>
</div>


<!-- End Contact info -->
<style>
	.blog-img {
		width: 100%;
	}

	.modal-lg {
		width: 100%;
		max-width: 1024px;
	}

	.about-section-box {
		padding: 30px 0px;
	}
	.about-section-box h1{
		font-weight:600;
	}

	hr {
		margin-top: 10px;
		margin-bottom: 30px;
		border: 0;
		border-top: 2px solid #dba79a
	}
</style>