<!-- Start All Pages -->
<div class="all-page-title page-breadcrumb">
	<div class="container text-center">
		<div class="row">
			<div class="col-lg-12">
				<h1>媒體報導</h1>
			</div>
		</div>
	</div>
</div>
<!-- End All Pages -->
<!-- Start blog -->
<div class="blog-box">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<h2 class="center-align">非凡新聞周刊 2009.1.18</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3" ng-repeat="item in mediator">
				<img class="img-thumbnail" ng-src="{{item.img}}">
			</div>
		</div>
		<div class="row mb-5">
			<div class="col-md-12 center-align">
				<a class="btn-floating waves-effect waves-light btn-floating-color" ng-click="leftClick1()">
					<i class="fas fa-chevron-left"></i>
				</a>
				<a class="btn-floating waves-effect waves-light btn-floating-color" ng-click="rightClick1()">
					<i class="fas fa-chevron-right"></i>
				</a>
			</div>
		</div>


		<div class="row mt-5">
			<div class="col-12">
				<h2 class="center-align">今周刊-南門市場靠顧客的嘴刁出奇蹟</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3" ng-repeat="item in mediator2">
				<img class="img-thumbnail" style="height:300px" ng-src="{{item.img}}">
			</div>
		</div>
		<div class="row mb-5">
			<div class="col-md-12 center-align">
				<a class="btn-floating waves-effect waves-light btn-floating-color" ng-click="leftClick2()">
					<i class="fas fa-chevron-left"></i>
				</a>
				<a class="btn-floating waves-effect waves-light btn-floating-color" ng-click="rightClick2()">
					<i class="fas fa-chevron-right"></i>
				</a>
			</div>

		</div>

		<div class="row mt-5">
			<div class="col-12">
				<h2 class="center-align">Here雜誌-外帶風味年菜</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-md-2" ng-repeat="item in mediator3">
				<img class="img-thumbnail" ng-src="{{item.img}}">
			</div>
		</div>
		<div class="row mb-5">
			<div class="col-md-12 center-align">
				<a class="btn-floating waves-effect waves-light btn-floating-color" ng-click="leftClick3()">
					<i class="fas fa-chevron-left"></i>
				</a>
				<a class="btn-floating waves-effect waves-light btn-floating-color" ng-click="rightClick3()">
					<i class="fas fa-chevron-right"></i>
				</a>
			</div>

		</div>

		<div class="row mt-5">
			<div class="col-12">
				<h2 class="center-align">三立電視台報導</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-md-2" ng-repeat="item in mediator4">
				<img class="img-thumbnail" ng-src="{{item.img}}">
			</div>
		</div>
		<div class="row mb-5">
			<div class="col-md-12 center-align">
				<a class="btn-floating waves-effect waves-light btn-floating-color" ng-click="leftClick4()">
					<i class="fas fa-chevron-left"></i>
				</a>
				<a class="btn-floating waves-effect waves-light btn-floating-color" ng-click="rightClick4()">
					<i class="fas fa-chevron-right"></i>
				</a>
			</div>

		</div>

		<div class="row mt-5">
			<div class="col-12">
				<h2 class="center-align">聯合報-行家美食</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-md-2" ng-repeat="item in mediator5">
				<img class="img-thumbnail" ng-src="{{item.img}}">
			</div>
		</div>
		<div class="row mb-5">
			<div class="col-md-12 center-align">
				<a class="btn-floating waves-effect waves-light btn-floating-color" ng-click="leftClick5()">
					<i class="fas fa-chevron-left"></i>
				</a>
				<a class="btn-floating waves-effect waves-light btn-floating-color" ng-click="rightClick5()">
					<i class="fas fa-chevron-right"></i>
				</a>
			</div>

		</div>
		
		
	
	</div>
</div>
<!-- End blog -->


<!-- End Contact info -->
<style>
	.blog-img {
		width: 100%;
	}

	.modal-lg {
		width: 100%;
		max-width: 1024px;
	}

	.btn-floating {
		position: relative;
		z-index: 1;
		display: inline-block;
		padding: 0;
		margin: 10px;
		overflow: hidden;
		vertical-align: middle;
		cursor: pointer;
		border-radius: 50%;
		-webkit-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
		box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
		-webkit-transition: all .2s ease-in-out;
		transition: all .2s ease-in-out;
		width: 47px;
		height: 47px;
	}

	.btn-floating-color {
		background: #b65037;
	}

	.btn-floating i {
		display: inline-block;
		width: inherit;
		color: #fff;
		text-align: center;
		font-size: 2rem;
		line-height: 47px;
	}
	
</style>