<!-- Start All Pages -->
<div class="all-page-title page-breadcrumb">
	<div class="container text-center">
		<div class="row">
			<div class="col-lg-12">
				<h1>訂單確認</h1>
			</div>
		</div>
	</div>
</div>
<!-- End All Pages -->

<!-- Start Contact -->
<div class="contact-box">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="col-12 product-cart-list">
					<div class="row" ng-repeat="data in cartTableData">
						<div class="col-lg-3 center-align">
							<img ng-src="{{data.img}}" class="cart-img" alt="Image">
						</div>
						<div class="col-lg-3 center-align">
							<p class="center-align">{{data.name}}<p>
						</div>
						<div class="col-lg-3 ">
							<p class="center-align">售價：{{data.price}}元<p>
						</div>
						<div class="col-lg-3 center-align">
							<p>數量：{{data.amount}}</p>
						</div>
					</div>
					<div class="row" ng-if="cartTableData!=null">
						<div class="col-lg-3 center-align">
						
						</div>
						<div class="col-lg-3 center-align">
						</div>
						<div class="col-lg-3 ">
						</div>
						<div class="col-lg-3 center-align">
							<p>運費{{shipping}}元  <i class="fas fa-shipping-fast"></i> </p>
						</div>

					</div>
				</div>
				<p class=" center-align" ng-if="cartTableData==null">還沒有商品加入喔</p>
				
				<hr>
				<div class="col-lg-12 center-align mb-5" ng-if="cartTableData!=null">
					<div class="row">
						<div class="col-lg-4 order-summary">
							<p class="center-align">訂購人：{{userName}}<p>
						</div>
						<div class="col-lg-4 order-summary">
							<p class="center-align">電子信箱：{{userEmail}}<p>
						</div>
						<div class="col-lg-4 order-summary">
							<p class="center-align">總共：{{totalPrice}}元<p>
						</div>
					</div>
					<hr>
					<div class="row" >
						<div class="col-12">
							<h2 class="center-align address-title">注意事項</h2>
						</div>
					</div>
					<div class="row" >
						<div class="col-12 notice-section" >
							<pre>{{rules.notice}}</pre>
								
						</div>
					</div>
					<div class="row mt-5">
						<div class="col-lg-12">
							<h2 class="center-align address-title">寄送地址</h2>
						</div>
					</div>
					<div class="row mt-5 mb-5">

						<div class="col-lg-6 order-summary">

							<label for="city">縣市 區 郵遞區號</label>
							<br>
							<address-input address="cityArea" id="twzipcode"></address-input>
							<!-- <div id="twzipcode" ></div>							 -->
						</div>
					
						<div class="col-lg-6 order-summary">
							<label for="address">寄送地址</label>
							<input type="text" class="form-control" id="address" ng-model="address">
						</div>
					
					</div>

					<p class="error-message text-align">{{errorMsg}}</p>
					<p class="success-message text-align">{{successMsg}}</p>
					<div class="col-lg-12 center-align confirm-pay" ng-if="cartTableData!=null">
						<button class="btn btn-common center-align m-3" ng-click="confirm(address,'atm')" id="confirmBtn"
						type="button">ATM付費</button>
						<div class="loader" id="confirmLoading"></div>
						<button class="btn btn-common center-align m-3" ng-click="confirm(address,'card')" id="confirmBtn"
							type="button">信用卡付費</button>
						
					</div>
					
				</div>

			</div>
			<br>
		</div>
	</div>
	<!-- End Contact -->
	<style>
		.confirm-pay{
			margin-top:70px;
		}
		#confirmLoading {
			display: none;
		}
		.address-title{
			color: #e4836b;
    		font-weight: 600;
		}
		.notice-section pre{
			background-color: white;
			border: 0px solid #ccc;
			font-size:20px;
			font-weight: 600;
		}
		#twzipcode select{
			height: 50px;
			padding: 6px 12px;
			font-size: 14px;
			line-height: 1.42857143;
			color: #555;
			background-color: #fff;
			background-image: none;
			border: 1px solid #ccc;
			border-radius: 4px;
			display: inline-block;
			margin-right:20px;
		}
		#twzipcode input{
			display: block;
			height: 60px;
			width:100px;
			padding: 6px 12px;
			font-size: 14px;
			line-height: 1.42857143;
			color: #555555;
			background-color: #fff;
			background-image: none;
			border: 1px solid #ccc;
			display: inline-block;
		}
	</style>