<!-- Start All Pages -->

<!-- End All Pages -->
<!-- Start blog -->
<div class="blog-box" ng-init="init('product')">
	<div class="container">
		<div class="row mb-5">
			<div class="col-lg-12">
				<div class="row center-align">
					<h1 class="full-width">上海食品有限公司 訂單編號: {{orderId}}</h1>

				</div>
				<div class="row center-align">
					<table class="orderTable">
						<h1>購買人資料</h1>
						<thead>
							<tr>
								<th>顧客姓名</th>

								<th>手機號碼</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>{{userInfo.name}}</td>
								<td>{{userInfo.phone}}</td>
							</tr>
						</tbody>


						<thead>
							<tr>
								<th>電子信箱</th>
								<th>收件地址</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>{{userInfo.email}}</td>
								<td>{{deliverAddress}}</td>
							</tr>
						</tbody>

					</table>
				</div>

				
				<div class="row center-align">
					<table class="orderTable">
						<h1>訂單內容</h1>
						<thead>
							<tr>
								<th colspan="2">訂購時間</th>
								<th colspan="1">下訂時價錢</th>
								<th colspan="1">付款狀態</th>
								<th colspan="1">出貨狀態</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td colspan="2">{{orderListTableData[0].date}}</td>
								<td colspan="1">${{orderListData.price}}</td>
								<td colspan="1"><span ng-if="orderListData.pay_status==1">已付款</span><span ng-if="orderListData.pay_status!=1">未付款</span></td>
								<td colspan="1"><span ng-if="orderListData.status==1">已出貨</span><span ng-if="orderListData.status!=1">未出貨</span></td>

							</tr>
						</tbody>
						<thead>
							<tr>
								<th>商品名稱</th>
								<th>冷凍食品</th>
								<th>購買數量</th>
								<th>商品單價</th>
								<th>小計</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="data in orderListTableData">
								<td>{{data.name}}</td>
								<td><span ng-if="data.frozen==1">是</span> <span ng-if="data.frozen==0">否</span></td>
								<td>{{data.product_amout}}</td>
								<td>${{data.product_price}}</td>
								<td>${{data.total}}</td>
							</tr>
						</tbody>
						<tfoot>
							<tr>
								<td colspan="5">
									商品價格+運費：${{totalProductPrice}} + ${{shippingFee}}<br>
									總計： ${{finalPrice}}
								</td>
							</tr>
						</tfoot>
					</table>

				</div>


				<div class="row center-align">
					<table class="orderTable">
						<h1>付款資訊</h1>
						<thead>
							<tr>
								<th colspan="1">付款方式</th>
								<th colspan="1">付款狀態</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td colspan="1"><span ng-if="orderListData.pay_type=='card'">信用卡</span><span ng-if="orderListData.pay_type=='ATM'">ATM</span></td>
								<td colspan="1">
									<span ng-if="orderListData.pay_status_code==1" class="no-deal">未付款</span>
									<span ng-if="orderListData.pay_status_code==0" class="deal">已付款</span>
									<span ng-if="orderListData.pay_status_code==3" class="no-deal">付款有問題</span>
									 <span ng-if="orderListData.pay_status_code==2" class="no-deal">未付款</span>
								</td>
							</tr>
						</tbody>
					</table>

				</div>

				<div class="row center-align" ng-if="orderListData.pay_type=='ATM'">
					<table class="orderTable">
						<h1>ATM付款資訊細節</h1>
						<thead>
							<tr>
								<th colspan="1">銀行代碼</th>
								<th colspan="1">指定銀行帳號</th>
								<th colspan="1">最後匯款日期</th> 
							</tr>
						</thead>
						<tbody>
							<tr>
								<td colspan="1">{{orderListData.pay_atm_bank}}</td>
								<td colspan="1">{{orderListData.pay_atm_account}}</td>
								<td colspan="1">{{orderListData.pay_atm_expire_date}}</td> 
							</tr>
						</tbody>
					
					</table>

				</div>
			
			</div>

		</div>
	</div>
</div>
<!-- End blog -->


<!-- End Contact info -->
<style>

	.blog-box{
		padding-top:180px;
	}
	.center-align {
		text-align: center;
	}

	.full-width {
		width: 100%;
	}

	table,
	th,
	td {
		border: 1px solid black;
		font-size:18px;
	}
	h1{
		font-size:25px;
		font-weight:600;
	}
	.orderTable {
		border: 1px solid #000;
		margin: 5px auto 20px auto;
		font-size: 13px;
		width: 100%;
	}

	.orderTable caption {
		line-height: 26px;
		text-align: left;
		font-size: 24px;
		font-weight: BOLD;
	}

	.orderTable thead th {
		background: #FEFEFE;
		border: 1px solid #000;
		color: #000;
		height: 24px;
		line-height: 24px;
		white-space: nowrap;
		text-align: center;
	}
</style>