<!-- Start All Pages -->
<div class="all-page-title page-breadcrumb">
	<div class="container text-center">
		<div class="row">
			<div class="col-lg-12">
				<h1>精選商品</h1>
			</div>
		</div>
	</div>
</div>
<!-- End All Pages -->

<!-- Start Menu -->
<div class="menu-box">

	<div class="container">
		<div class="row">
			<div class="col-lg-4">
				<i class="fas fa-search"></i> 搜尋關鍵字 <input type="text" style="width:150px;" ng-model="search">

			</div>
			<div class="col-lg-6" id="categoty-block">
				<span>選擇商品類型</span>
				<select class="form-control" id="categoty-select">
					<option value="{{$index}}" ng-repeat="(key,val) in productMap | mapFilter">{{key}}</option>
				</select>
			</div>
			<div class="col-lg-2">
				<a ng-href="{{menuPath}}" download>
					<i class="far fa-file-alt"></i>
					商品目錄
				</a>
			</div>
		</div>
		<br>
		<div>
			<p class="text-center">{{messageForIE}}</p>
			<div ng-repeat="(key,val) in productMap | mapFilter"  id="anchor{{$index}}">
				<div class="row">
					<div class="col-lg-12">
						<div class="heading-title text-center">
							<h2>{{key}}</h2>
						</div>
					</div>
				</div>

				<div class="row special-list">
					<div class="col-lg-3 col-md-6 special-grid drinks" ng-repeat="data in val | filter:search | orderBy : 'product_order'">
						<div class="gallery-single fix" ng-click="popup(data)">
							<img ng-src="{{data.img}}" class="img-fluid produt-img" alt="Image">
							<div class="why-text center">
								<h2 class="product-hover-info">了解更多</h2>
							</div>
						</div>
						<div class="product-title">
							<span>{{data.name}}</span><br>
							<div ng-if="data.d_price!=''">
								<strike>定價：{{data.price}}元</strike> <br>
								<span class="current-price">特價：{{data.d_price}}元</span><br>
							</div>
							<div ng-if="data.d_price==''">
								定價：{{data.price}}元<br>
							</div>
							數量：<input type="number" class="amount-input" ng-model="data.amount" min="0"
								ng-init="data.amount=1"><br>
							<a ng-click="addToCartsessionCheck(data)" class="cd-add-to-cart js-cd-add-to-cart">加入購物車</a>
						</div>
					</div>
				</div>
				<br>
			</div>
		</div>

	</div>


	<style>
		.produt-img {
			display: block;
			margin-left: auto;
			margin-right: auto;
		}

		.current-price {
			color: red;
		}

		.product-title {
			text-align: center;
			font-size: 20px;
		}

		.cd-add-to-cart {
			cursor: pointer;
			color: white !important;
			background: #b65036;
		}

		.cd-add-to-cart:hover {
			background: #b26d5b;
		}

		.heading-title {
			margin-top: 10px;
			margin-bottom: 5px;
		}

		.center {
			text-align: center;
		}

		.cd-cart__header h2,
		.cd-cart__details h3 a {
			font-size: 15px;
		}

		.cd-cart__product a {
			font-size: 13px;
			color: red;
		}

		.cd-cart__quantity label,
		.cd-cart__select select {
			font-size: 13px;
		}

		.cd-cart__price {
			font-size: 18px;

		}

		.amount-input {
			width: 50px;
			margin-bottom: 5px;
		}
		#categoty-block{
			display:inline;
		}
		#categoty-block .form-control{
			min-height: 35px;
			width:200px;
			display: inline;
		}
	</style>