<!-- Start All Pages -->
<div class="all-page-title page-breadcrumb">
	<div class="container text-center">
		<div class="row">
			<div class="col-lg-12">
				<h1>個人頁面</h1>
			</div>
		</div>
	</div>
</div>
<!-- End All Pages -->

<!-- Start Menu -->
<div class="menu-box">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="heading-title text-center">
					<h2>個人資訊</h2>
					<!-- <p>Lorem Ipsum is simply dummy text of the printing and typesetting</p> -->
				</div>
			</div>
		</div>
		<div class="row special-list">
			<div class="col-lg-12 col-md-6 special-grid drinks">
				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<label for="">姓名</label>
							<input type="text" class="form-control" ng-model="profileData.name" placeholder="">
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label for="">電子信箱</label>
							<input type="text" class="form-control" disabled ng-model="profileData.email" placeholder="">
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label for="">電話</label>
							<input type="text" class="form-control" ng-model="profileData.phone" placeholder="">
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label for="">生日</label>
							<input type="date" id="birthday" placeholder="出生日期" class="form-control"  name="birthday"  ng-model="profileData.birthday" max="2099-12-31"  >
						</div>
					</div>					
					<div class="col-md-6">
						<div class="form-group">
							<label for="">更新密碼</label>
							<input type="password" class="form-control" ng-model="profileData.newPassword" placeholder="">
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label for="">地址</label>
							<input type="text" disabled class="form-control" ng-model="address" placeholder="">
						</div>
					</div>
				</div>
				<div class="row mt-5">
					<div class="col-lg-12 col-md-12 text-center">
						<button class="btn btn-primary" type="button" ng-click="updateUser(profileData)">更新</button>

					</div>
				</div>
			</div>
		</div>
		<br>
		<div class="row mt-5">
			<div class="col-lg-12">
				<div class="heading-title text-center">
					<h2>歷史訂單</h2>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-lg-12 col-md-6 ">
				<p>*注意：點選去付款後，訂單號碼會被更新</p>
				<div class="row table-responsive"  id="profile-order-table" >
					<table ng-table="tableParams" class="table" show-filter="true">
						<tr ng-repeat="data in $data" class="text-center">
							<td title="'訂單號碼'" filter="{ order_id: 'text'}" sortable="'order_id'">
								{{data.order_id}}</td>
							<td title="'城市'" sortable="'city'">
								{{data.city}}</td>
							<td title="'地址'">
								{{data.address}}</td>
							<td title="'郵遞區號'">
								{{data.postcode}}</td>
							<td title="'查看訂單'">
								<a href="javascript:void(0);" ng-click="orderPopup(data)"><i
										class="far fa-file-alt"></i></a></td>
							<td title="'訂單狀態'" sortable="'status'">
								<span ng-if="data.status==0" class="no-deal">未寄出</span><span
									ng-if="data.status==1" class="deal">已寄出</span></td>
							<td title="'價錢'">
								${{data.price}}元</td>		
							<td title="'付款狀態'" sortable="'status'">
								<span ng-if="data.pay_status_code==1"><button type="button" ng-click="repay(data)" class="btn btn-warning repay-btn">去付款</button>
								</span>
								<span ng-if="data.pay_status_code==0" class="deal">${{data.pay_amount}}</span>
								<span ng-if="data.pay_status_code==3" class="no-deal">付款有問題</span>
								<span ng-if="data.pay_status_code==2"><button type="button" ng-click="atmInfo(data)" class="btn btn-warning repay-btn">匯款資訊</button>
								</span></td>	
							<td title="'付款方式'" sortable="'pay_type'">
								<span ng-if="data.pay_type=='card' || data.pay_type==null">信用卡</span><span ng-if="data.pay_type=='ATM'">ATM</span></td>
							<td title="'下訂日期'" sortable="'pay_date'">{{data.pay_date}}</td>
							
						</tr>
					</table>
					<p class="error-message text-align">{{errorMsg}}</p>
					<p class="success-message text-align">{{successMsg}}</p>
				</div>
			</div>
		</div>

	</div>
</div>

<style>
	#profile-order-table div{
			width:100%;
			text-align:center;
	}
	.no-deal {
		color: red;
	}

	.deal {
		color: green;
	}

	.not-paid{
		color:#8a6d3b !important;
	}
	.repay-btn{
		padding: 0px 15px;
	}
</style>