<!-- Start All Pages -->
<div class="all-page-title page-breadcrumb">
	<div class="container text-center">
		<div class="row">
			<div class="col-lg-12">
				<h1>美味食譜</h1>
			</div>
		</div>
	</div>
</div>
<!-- End All Pages -->

<!-- Start Gallery -->
<div class="gallery-box">
	<div class="container">
		<!-- <div class="row">
			<div class="col-lg-12">
				<div class="heading-title text-center">
					<h2>不私藏的美味</h2>
				</div>
			</div>
		</div> -->
		<div class="tz-gallery">
			<div class="row">
				<div class="col-sm-12 col-md-4 col-lg-4 recipe-block center-align" ng-repeat="data in recipeTableData">
					<a class="lightbox" href="javascript:void(0);" ng-click="popup(data)">
						<img class="img-fluid" ng-src="{{data.img}}" alt="Gallery Images">
					</a>
					<h2 class="center-align">{{data.name}}</h2>
					<a href="javascript:void(0)" class="cd-add-to-cart js-cd-add-to-cart" ng-click="popup(data)">看食譜</a>
				</div>

			</div>
		</div>
	</div>
</div>
<link rel="stylesheet" href="plugin/addToCart/css/style.css">

<!-- End Gallery -->
<style>
	.recipe-block{
		margin-bottom:50px;
	}

	.tz-gallery .lightbox img{
		margin-bottom:20px;
	}

	.recipe-block h2 {
		font-size: 30px;
		color: #000;
		
	}

	.line_btn {
		display: inline-block;
		font-size: 13px;
		color: #000000;
		border: 1px solid #b65036;
		text-transform: capitalize;
		padding: 13px 34px;
		font-weight: 500;
		font-family: "Roboto", sans-serif;
		-webkit-border-radius: 30px;
		-moz-border-radius: 30px;
		border-radius: 30px;
	}
</style>